<%= form_for(youtube, html: { class: 'form-horizontal' }) do |f| %>
  <% if youtube.errors.any? %>
    <%= youtube.errors.count %>個のエラーがあります<br>
    <% youtube.errors.full_messages.each do |msg| %>
      <%= msg %><br>
    <% end -%>
  <% end -%>

  <div class="field form-group">
    <%= f.label :pickup_level, 'ピックアップレベル', class: 'control-label col-sm-2' %>
    <div class="col-sm-2">
      <%= f.number_field :pickup_level, class: 'form-control' %>
    </div>
  </div>

  <div class="field form-group">
    <%= f.label :category, 'カテゴリ', class: 'control-label col-sm-2' %>
    <div class="col-sm-4">
      <%= f.select :category, ['演目', 'レッスン', 'その他'], { include_blank: '選択してください' }, class: 'form-control' %>
    </div>
  </div>


  <div class="field form-group">
    <%= f.label :title, 'タイトル', class: 'control-label col-sm-2' %>
    <div class="col-sm-4">
      <%= f.text_field :title, class: 'form-control' %>
    </div>
  </div>

  <div class="field form-group">
    <%= f.label :catchphrase, 'キャッチフレーズ', class: 'control-label col-sm-2' %>
    <div class="col-sm-4">
      <%= f.text_field :catchphrase, class: 'form-control' %>
    </div>
  </div>

  <div class="field form-group">
    <%= f.label :url, 'URL', class: 'control-label col-sm-2' %>
    <div class="col-sm-4">
      <%= f.text_field :url, class: 'form-control' %>
    </div>
  </div>

  <div class="field form-group">
    <%= f.label :text, '動画説明', class: 'control-label col-sm-2' %>
    <div class="col-sm-4">
      <%= f.text_area :text, class: 'form-control' %>
    </div>
  </div>

  <div class="field form-group">
    <%= f.label :poster_comment, '運営コメント', class: 'control-label col-sm-2' %>
    <div class="col-sm-4">
      <%= f.text_area :poster_comment, class: 'form-control' %>
    </div>
  </div>

  <%= f.nested_fields_for :youtube_video_tags, wrapper_tag: :div, wrapper_options: { class: 'row field form-group' } do |q| %>
    <%= q.label :name, 'タグ', class: 'control-label col-sm-2' %>
    <div class="col-sm-4">
      <%= q.text_field :name, class: 'form-control' %>
    </div>
    <%= q.remove_nested_fields_link '削除', class: 'btn btn-danger', role: 'button', tabindex: -1 %>
  <% end %>

  <div class="row">
    <div class="div_right_button col-sm-6">
      <%= f.add_nested_fields_link :youtube_video_tags, 'タグ追加', class: 'btn btn-primary right_button', role: 'button' %>
    </div>
  </div>

  <div class="row">
    <div class="actions　form-group">
      <div class="col-sm-offset-2 col-sm-4">
        <%= f.submit '保存', class: 'btn btn-primary right_button' %>
      </div>
    </div>
  </div>
<% end %>