<% if user_signed_in? %>
  <% unless youtube.like_user(current_user.id) %>
    <%= link_to action: :like, remote: true, id: params[:id] do %>
      <p id="good_button_hand"><i class="glyphicon glyphicon-thumbs-up"></i></p>
      <p id="good_button_count" style="display:inline;"><%= likes.count %></p>
    <% end %>
  <% else %>
    <%= link_to action: :like, remote: true, id: params[:id] do %>
      <p id="good_button_heart"><i class="glyphicon glyphicon-thumbs-up"></i></p>
      <p id="good_button_count" style="display:inline;"><%= likes.count %></p>
    <% end %>
  <% end %>
<% else %>
  ログインするとグッドボタンを押せます、グッドボタンを押した動画は一覧で見ることができます。
  <p id="good_button_hand"><i class="glyphicon glyphicon-thumbs-up"></i></p>
  <p id="good_button_count" style="display:inline;"><%= likes.count %></p>
<% end %>