<div class="col-sm-8">
  <h2><%= @youtube.title %></h2>
  <% url = @youtube.url.gsub(/http.+v=/, "") %>
  <% url = url.gsub(/&list.+./, "") %>
  <% url = url.gsub(/&index.+./, "") %>

  <%== '<iframe width="560" height="315" src="https://www.youtube.com/embed/' + url + '" frameborder="0" allowfullscreen></iframe>' %>
  <%= simple_format(@youtube.text, class: :text) %>
  <%= link_to '動画一覧へ戻る', bits_path %>

  <% unless current_user.nil? %>
    <% if @youtube.user_id == current_user.id %>
      <%= link_to '編集する', edit_youtube_video_path(@youtube) %>
    <% end %>
  <% end %>
</div>