<% if controller.controller_name == 'youtube_videos' && controller.action_name == 'show' %>
  <style>
    body {
      padding-top: 50px
    }
    @media screen and (min-width:768px) {
      body {
        padding-top: 75px
      }
    }
  </style>
<% end %>

<% url = @youtube.url.gsub(/http.+v=/, "") %>
<% url = url.gsub(/&.+./, "") %>
</div>
<div style="background:black;">
<div class="container">
<div class="col-md-offset-1 col-md-10 col-lg-offset-0 col-lg-12" style="padding:0;">
<div class="embed-responsive embed-responsive-16by9">
  <%= sanitize '<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/' + url + '?rel=0&iv_load_policy=3&modestbranding=1&frameborder="0" allowfullscreen></iframe>',
    tags: %w(iframe),
    attributes: %w(class src allowfullscreen frameborder) %>
</div>
</div>
</div>
</div>
<div class="container">

  <div id="y_video_show_body">
    <div class="col-sm-8" style="padding:0;">
      <div id="y_video_show_titlearea">
        <h1><%= @youtube.title %></h1>
        <div class="make_border_1"></div>
        <h4><%= @youtube.catchphrase %></h4>
        <div class="make_border_2"></div>
        <div class="y_video_tags_area">
        <% @youtube.youtube_video_tags.each do |tag| %>
          <div style="display: inline-block;margin-right:10px;">
            <%= link_to "##{tag.name}", { controller: :bits, action: :Search, search_params: tag.name } %>
          </div>
        <% end -%>
        </div>
        <div class="make_border_3"></div>

        <div id="video_show_button_area">
          <div id="share_button_area">
            <%# ツイートボタン %>
            <a href="https://twitter.com/share" class="twitter-share-button" data-text=<%= @youtube.title %> data-size="large">Tweet</a>
            <script src="//platform.twitter.com/widgets.js"></script>
            <%# フェイスブックシェア %>
            <% facebook_share_url = ENV['SHARE_URL'].to_s + @youtube.id.to_s %>
            <% facebook_share_url = facebook_share_url.gsub(':','%3A') %>
            <% facebook_share_url = facebook_share_url.gsub('/','%2F') %>
            <% facebook_share_url = "https://www.facebook.com/plugins/share_button.php?href=" + facebook_share_url + "&layout=button&size=large&mobile_iframe=true&width=75&height=28&appId" %>
            <iframe src=<%= facebook_share_url.to_s %> width="75" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
            <%# LINEシェアボタン %>
            <% lineUrl = ENV['SHARE_URL'].to_s + @youtube.id.to_s %>
            <div class="line-it-button" data-lang="ja" data-type="share-a" data-url=<%= lineUrl %> style="display: none;"></div>
            <script src="https://d.line-scdn.net/r/web/social-plugin/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
          </div>
          <div id="good_button_area">
            <%= render 'like', youtube: @youtube, likes: @likes %>
          </div>
          <p id="y_video_show_pv_count">視聴回数<%= @youtube.pv_count %>回</p>
        </div>
      </div>
    </div>
    <div id="related_videos_list" class="col-sm-4">
      <div id="related_videos_list_in">
        <div class="hidden-xs col-sm-12" style="padding:0;">
          <%= link_to image_tag('mu_ad_img1.jpg', width: '100%'), 'http://mu-ballet.com', target: '_blank', onClick: 'ga(‘send’, ‘ad’, ‘link’, ‘click’, ‘広告リンクはこちら’, true);' %>
        </div>
        <div class="visible-xs co-xs-12" style="padding:0;">
          <%= link_to image_tag('mu_ad_img2.jpg', width: '100%'), 'http://mu-ballet.com', target: '_blank', onClick: 'ga(‘send’, ‘ad’, ‘link’, ‘click’, ‘広告リンクはこちら’, true);' %>
        </div>
      </div>
    </div>

    <%# コメントはスクリプトで追加される為、デフォルトでスペース確保してないので、下の要素とかぶらないように、空のdivをはさんでおく %>
    <div class="blank" style="width:100%;height:1px;overflow:hidden;">
    </div>

    <% if @youtube.text.present? %>
      <div id="y_video_show_text">
        <%= simple_format(@youtube.text, class: :text) %>
      </div>
    <% end %>
  </div>

<div class="col-xs-12">
  <p class="related_videos">関連動画</p>
  <% i = 0 %>
  <div class="col-xs-12 row-eq-height" style="padding: 0;">
    <% @relatedVideos.each do |rv| %>

<%
=begin
%>

      <% i = i + 1 %>
      <% if i == 9 %>
      <%# 広告エリア %>
      <div class="col-xs-12 hidden-sm hidden-md hidden-lg" style="text-align:center;padding-bottom:15px;overflow: visible;margin-left: -15px;">
        <!--  ad tags Size: 320x100 ZoneId:1175810-->
        <script type="text/javascript" src="https://js.medi-8.net/t/175/810/a1175810.js"></script>
      </div>
      <div class="hidden-xs col-sm-12 col-md-12 hidden-lg" style="text-align:center;padding-bottom:15px;">
        <!--  ad tags Size: 468x60 ZoneId:1175776-->
        <script type="text/javascript" src="https://js.medi-8.net/t/175/776/a1175776.js"></script>
      </div>
      <div class="visible-lg col-lg-12" style="text-align:center;padding-bottom:15px;">
        <!--  ad tags Size: 728x90 ZoneId:1175743-->
        <script type="text/javascript" src="https://js.medi-8.net/t/175/743/a1175743.js"></script>
      </div>
    <% end %>
<%
=end
%>

      <%= link_to youtube_video_path(rv), class: 'videolists_link col-xs-12 col-sm-3 row-eq-height', style: 'margin-bottom:10px;' do %>
        <div class="y_video_img_area col-xs-5 col-sm-12" style="padding: 0;">
          <div class="y_video_img">
            <% url = rv.url.gsub(/http.+v=/, "") %>
            <% url = url.gsub(/&.+./, "") %>
            <%= image_tag('https://i.ytimg.com/vi/' + url + '/mqdefault.jpg',
              width: '100%',
              class: 'bits_index_link_img') %>
            <div class="y_video_img_video_time">
              <%= rv.video_time %>
            </div>
          </div>
        </div>
        <div class="y_video_top_textarea col-xs-7 col-sm-12" style="padding: 0;margin-top:0;">
          <p class="videolists_title hidden-md hidden-lg"><%= truncate(rv.title, length: 25) %></p>
          <p class="videolists_catchphrase hidden-md hidden-lg"><%= truncate(rv.catchphrase, length: 25) %></p>
          <p class="videolists_title hidden-xs hidden-sm"><%= truncate(rv.title, length: 29) %></p>
          <p class="videolists_catchphrase hidden-xs hidden-sm"><%= truncate(rv.catchphrase, length: 29) %></p>
          <div class="videolists_viewcount">
            <p>視聴回数 <%= rv.pv_count %></p>
          </div>
        </div>
      <% end -%>
    <% end %>

    <%# 関連動画が20個以下の時、PV数が多い順に20個になるまで表示する %>
    <% if @popularVideos.present? %>
      <% @popularVideos.each do |rv| %>

<%
=begin
%>

      <% i = i + 1 %>
      <% if i == 9 %>
      <%# 広告エリア %>
      <div class="col-xs-12 hidden-sm hidden-md hidden-lg" style="text-align:center;padding-bottom:15px;overflow: visible;margin-left: -15px;">
        <!--  ad tags Size: 320x100 ZoneId:1175806-->
        <script type="text/javascript" src="https://js.medi-8.net/t/175/806/a1175806.js"></script>
      </div>
      <div class="hidden-xs col-sm-12 col-md-12 hidden-lg" style="text-align:center;padding-bottom:15px;">
        <!--  ad tags Size: 468x60 ZoneId:1175768-->
        <script type="text/javascript" src="https://js.medi-8.net/t/175/768/a1175768.js"></script>
      </div>
      <div class="visible-lg col-lg-12" style="text-align:center;padding-bottom:15px;">
        <!--  ad tags Size: 728x90 ZoneId:1175732-->
        <script type="text/javascript" src="https://js.medi-8.net/t/175/732/a1175732.js"></script>
      </div>
    <% end %>

<%
=end
%>

        <%= link_to youtube_video_path(rv), class: 'videolists_link col-xs-12 col-sm-3 row-eq-height', style: 'margin-bottom:10px;' do %>
          <div class="y_video_img_area col-xs-5 col-sm-12" style="padding: 0;">
            <div class="y_video_img">
              <% url = rv.url.gsub(/http.+v=/, "") %>
              <% url = url.gsub(/&.+./, "") %>
              <%= image_tag('https://i.ytimg.com/vi/' + url + '/mqdefault.jpg',
                width: '100%',
                class: 'bits_index_link_img') %>
              <div class="y_video_img_video_time">
                <%= rv.video_time %>
              </div>
            </div>
          </div>
          <div class="y_video_top_textarea col-xs-7 col-sm-12" style="padding: 0;margin-top:0;">
            <p class="videolists_title hidden-md hidden-lg"><%= truncate(rv.title, length: 25) %></p>
            <p class="videolists_catchphrase hidden-md hidden-lg"><%= truncate(rv.catchphrase, length: 25) %></p>
            <p class="videolists_title hidden-xs hidden-sm"><%= truncate(rv.title, length: 29) %></p>
            <p class="videolists_catchphrase hidden-xs hidden-sm"><%= truncate(rv.catchphrase, length: 29) %></p>
            <div class="videolists_viewcount">
              <p>視聴回数 <%= rv.pv_count %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<% unless current_user.nil? %>
  <% if current_user.user_level > 1 %>
    <div class="col-xs-12">
      <%= link_to '編集する', edit_youtube_video_path(@youtube) %>
      <%= link_to '削除する', youtube_video_path(@youtube), method: :delete, data: { confirm: "削除してよろしいですか？" } %>
    </div>
  <% end %>
<% end %>

<script>
  function reply_display(comment_id) {
    var display = document.getElementById("y_video_reply_edit_area"+comment_id).style.display;

    if (display == 'none'){
      document.getElementById("y_video_reply_edit_area"+comment_id).style.display = 'block';
      document.getElementById("reply_view_button"+comment_id).innerHTML = 'キャンセル';
      document.getElementById("reply_edit_textarea"+comment_id).focus();
    }else {
      document.getElementById("y_video_reply_edit_area"+comment_id).style.display = 'none';
      document.getElementById("reply_view_button"+comment_id).innerHTML = '返信する';
    }
  }
</script>
