<% if controller.controller_name == 'youtube_videos' && controller.action_name == 'show' %>
  <style>
    body {
      padding-top: 50px
    }
    @media screen and (min-width:768px) {
      body {
        padding-top: 75px
      }
    }
  </style>
<% end %>

<% url = @youtube.url.gsub(/http.+v=/, "") %>
<% url = url.gsub(/&.+./, "") %>
</div>
<div style="background:black;">
<div class="container">
<div class="col-md-offset-1 col-md-10 col-lg-offset-0 col-lg-12" style="padding:0;">
<div class="embed-responsive embed-responsive-16by9">
  <%= sanitize '<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/' + url + '?rel=0&iv_load_policy=3&frameborder="0" allowfullscreen></iframe>',
    tags: %w(iframe),
    attributes: %w(class src allowfullscreen frameborder) %>
</div>
</div>
</div>
</div>
<div class="container">

<div id="y_video_show_body">
  <div class="col-sm-8" style="padding:0;">
    <div id="y_video_show_titlearea">
      <h2><%= @youtube.title %></h2>
      <strong>タグ:</strong>
      <% @youtube.youtube_video_tags.each do |tag| %>
        <div style="display: inline-block;margin-right:10px;">
          <%= link_to "##{tag.name}", { controller: :bits, action: :Search, search_params: tag.name } %>
        </div>
      <% end -%>

      <div id="video_show_button_area">
        <div id="share_button_area">
          <%# ツイートボタン %>
          <a href="https://twitter.com/share" class="twitter-share-button" data-text=<%= @youtube.title %> data-size="large">Tweet</a>
          <script src="//platform.twitter.com/widgets.js"></script>
          <%# フェイスブックシェア %>
          <% facebook_share_url = ENV['SHARE_URL'].to_s + @youtube.id.to_s %>
          <% facebook_share_url = facebook_share_url.gsub(':','%3A') %>
          <% facebook_share_url = facebook_share_url.gsub('/','%2F') %>
          <% facebook_share_url = "https://www.facebook.com/plugins/share_button.php?href=" + facebook_share_url + "&layout=button&size=large&mobile_iframe=true&width=75&height=28&appId" %>
          <iframe src=<%= facebook_share_url.to_s %> width="75" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
          <%# LINEシェアボタン %>
          <% lineUrl = ENV['SHARE_URL'].to_s + @youtube.id.to_s %>
          <div class="line-it-button" data-lang="ja" data-type="share-a" data-url=<%= lineUrl %> style="display: none;"></div>
          <script src="https://d.line-scdn.net/r/web/social-plugin/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
        </div>
        <div id="good_button_area">
          <%= render 'like', youtube: @youtube, likes: @likes %>
        </div>
      </div>
      <p id="y_video_show_pv_count">視聴回数<%= @youtube.pv_count %>回</p>
    </div>

    <div class="ad_area_out" style="overflow:hidden;">
      <div class="ad_area col-xs-12 hidden-sm hidden-md hidden-lg" style="text-align:center;padding:10px 0 10px 0;">
        <!-- admax -->
        <div class="admax-native" data-admax-id="4b5879fb019fb93a43400dec4515824d"></div>
        <script type="text/javascript" charset="utf-8" src="//adm.shinobi.jp/st/na.js"></script>
        <!-- admax -->
      </div>
      <div class="ad_area hidden-xs col-sm-12 hidden-md hidden-lg" style="text-align:center;padding:10px 0 10px 0;">
        <!-- admax 468×60px-->
        <script src="//adm.shinobi.jp/s/b7c559839141ee4f6bbb301f9bda7e0d"></script>
        <!-- admax -->
      </div>
      <div class="ad_area hidden-xs hidden-sm col-md-12" style="text-align:center;padding:10px 0 10px 0;">
        <!-- admax 728×90px-->
        <script src="//adm.shinobi.jp/s/e38b41210a0c851360b5c6366ce95f9e"></script>
        <!-- admax -->
      </div>
    </div>

    <div id="y_video_show_text">
      <%= simple_format(@youtube.text, class: :text) %>
    </div>

    <div id="y_video_commentsarea">
      <% unless current_user.nil? %>
        <div id="y_video_newcomment_edit_area">
          <%= form_for(@comment) do |f| %>
            <div class="form-group">
              <%= f.text_area :text,
                maxlength: "400",
                id: 'comment_text_area',
                onkeydown: 'if(event.keyCode == 13){javascript:transmission();}',
                onkeyup: "document.getElementById('y_video_commentsarea_characnt').value=400 - this.value.length",
                class: 'form-control' %>
            </div>
            <div id="comment_submit" class="actions　form-group">
              <input type="text" id="y_video_commentsarea_characnt" disabled="disabled">
              <%= f.submit 'コメント投稿', class: 'btn btn-primary' %>
            </div>
            <%= f.hidden_field :youtube_video_id, value: @youtube.id %>
          <% end %>
        </div>
      <% else %>
        <div id="y_video_newcomment_edit_area">
          <p><%= link_to 'ログイン', new_user_session_path %>するとコメントの投稿ができます。</p>
        </div>
      <% end %>

      <div id="y_video_comment_list_area">
        <div id="y_video_show_poster_comment_area">
          <strong>ビット運営</strong>
          <%= simple_format(@youtube.poster_comment, class: 'y_video_show_poster_comment_text') %>
        </div>
        <% unless @comments.nil? %>
          <% @comments.each do |comment| %>
            <% if comment.reply == 0 %>
              <div class="y_video_comment_list_view">
                <% unless comment.user.nil? %>
                  <strong><%= comment.user.username %></strong>
                <% else %>
                  <strong>削除されたユーザー</strong>
                <% end %>
                <%= comment.created_at.strftime('%Y年%m月%d日 %H時%M分%S秒') %><br>
                <p><%= simple_format(comment.text) %></p>

                <% @replys.each do |reply| %>
                  <% if reply.reply == comment.id %>
                    <div class="y_video_reply_list_view">
                      <% unless reply.user.nil? %>
                        <strong><%= reply.user.username %></strong>
                      <% else %>
                        <strong>削除されたユーザー</strong>
                      <% end %>                      <%= reply.created_at.strftime('%Y年%m月%d日 %H時%M分%S秒') %><br>
                      <%= simple_format(reply.text) %>
                    </div>
                  <% end %>
                <% end %>

                <% unless current_user.nil? %>
                  <div id="y_video_reply_edit_area<%= comment.id %>" class="y_video_reply_edit_area" style="display: none;">
                    <%= form_tag('/comments/reply', method: :post) do %>
                      <div class="form-group">
                        <%= text_area_tag :text,
                          "",
                          maxlength: "400",
                          onkeydown: 'if(event.keyCode == 13){javascript:transmission();}',
                          onkeyup: "document.getElementById('y_video_replyarea_characnt').value=400 - this.value.length",
                          id: 'reply_edit_textarea'+comment.id.to_s,
                          class: 'reply_text_area form-control' %>
                      </div>
                      <div id="reply_submit" class="actions　form-group">
                        <input type="text" id="y_video_replyarea_characnt" disabled="disabled">
                        <%= submit_tag '返信', class: 'btn btn-primary' %>
                      </div>
                      <%= hidden_field :reply_params, :youtube_video_id, value: @youtube.id%>
                      <%= hidden_field :reply_params, :comment_id, value: comment.id %>
                    <% end %>
                  </div>

                  <div class="reply_view_button_area">
                    <p id="reply_view_button<%= comment.id %>"
                      class="reply_view_button"
                      onClick="reply_display(<%= comment.id %>)">返信する
                    </p>
                  </div>
                <% end %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>

    <% unless current_user.nil? %>
      <% if @youtube.user_id == current_user.id && current_user.user_level > 1 %>
        <%= link_to '編集する', edit_youtube_video_path(@youtube) %>
        <%= link_to '削除する', youtube_video_path(@youtube), method: :delete, data: { confirm: "削除してよろしいですか？" } %>
      <% end %>
    <% end %>
  </div>
</div>

<div id="related_videos_list" class="col-sm-4">
  <div id="related_videos_list_in">
    <div class="hidden-xs col-sm-12" style="padding:0;">
      <%= link_to image_tag('mu_ad_img1.jpg', width: '100%'), 'http://mu-ballet.com', target: '_blank' %>
    </div>
    <div class="visible-xs co-xs-12" style="padding:0;">
      <%= link_to image_tag('mu_ad_img2.jpg', width: '100%'), 'http://mu-ballet.com', target: '_blank' %>
    </div>
    <p>関連動画</p>
    <% @relatedVideos.each do |rv| %>
      <div class="related_videos_link row-eq-height">
        <% url = rv.url.gsub(/http.+v=/, "") %>
        <% url = url.gsub(/&.+./, "") %>
        <%= link_to(youtube_video_path(rv)) do %>
          <div class="related_videos_link_img col-xs-5 col-sm-5 col-md-6" style="padding:0;">
            <%= image_tag('http://i.ytimg.com/vi/' + url + '/mqdefault.jpg',
                                    width: '100%',
                                    class: 'bits_show_link_img') %>
          </div>
          <div class="related_videos_link_title col-xs-7 col-sm-7 col-md-6" style="padding:0;">
            <p><%= rv.title %></p>
          </div>
          <div class="related_video_view_count">
            <p>視聴回数<%= rv.pv_count %>回</p>
          </div>
        <% end -%>
      </div>
    <% end %>
  </div>
</div>

<script>
  function reply_display(comment_id) {
    var display = document.getElementById("y_video_reply_edit_area"+comment_id).style.display;

    if (display == 'none'){
      document.getElementById("y_video_reply_edit_area"+comment_id).style.display = 'block';
      document.getElementById("reply_view_button"+comment_id).innerHTML = 'キャンセル';
      document.getElementById("reply_edit_textarea"+comment_id).focus();
    }else {
      document.getElementById("y_video_reply_edit_area"+comment_id).style.display = 'none';
      document.getElementById("reply_view_button"+comment_id).innerHTML = '返信する';
    }
  }
</script>