<% board_comments.each do |bc| %>
  <%# board_commentのdisplayがtrueだったら表示 %>
  <% if bc.display == true %>
    <% if bc.user.id == bc.board.user_id %>
      <div class="board_master_comments col-xs-12">
    <% else%>
      <div class="board_comments col-xs-12">
    <% end %>
      <div class="board_comments_pic_area col-sm-2 col-xs-3">
        <%= render 'profile_picture_lists', i: bc %>
        <p style="color:gray;"><%= bc.user.username %><% if bc.user.user_level == 1 %>さん<% end %></p>
      </div>
      <div class="board_comments_text_area col-sm-10 col-xs-9">
        <%= bc.created_at.strftime('%Y/%m/%d/ %H:%M') %>
        <%= simple_format(bc.text) %>
        <% if user_signed_in? %>
          <% if current_user.user_level > 1 %>
            <%= link_to '非表示にする', board_comment_path(bc), method: :delete, data: { confirm: "非表示にしてよろしいですか？" } %>
            <%= link_to '編集する', edit_board_comment_path(bc) %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% else %>
    <%# board_commentのdisplayがfalseでも管理者権限のユーザーでログインしてたら表示 %>
    <% if user_signed_in? %>
      <% if current_user.user_level > 1 %>
        <% if bc.user.id == bc.board.user_id %>
          <div class="board_master_comments col-xs-12">
        <% else%>
          <div class="board_comments col-xs-12">
        <% end %>
        <div class="board_comments_pic_area col-sm-2 col-xs-3">
          <%= render 'profile_picture_lists', i: bc %>
          <p style="color:gray;"><%= bc.user.username %><% if bc.user.user_level == 1 %>さん<% end %></p>
        </div>
        <div class="board_comments_text_area col-sm-10 col-xs-9">
          <%= bc.created_at.strftime('%Y/%m/%d/ %H:%M') %>
          <%= simple_format(bc.text) %>
          <%= link_to '表示させる', display_board_comments_path(bc)%>
          <span style="color:gray;">非表示にしたコメントです</span>
        </div>
      </div>
      <% else %>
        <%# ログインしてても管理者じゃない場合、非表示 %>

        <div class="board_comments_login col-xs-12">
          <div class="board_comments_no_pic_area col-sm-2 col-xs-3">
            <%= image_tag("no-picture-min.gif") %>         
          </div>
          <div class="board_comments_text_area_reject col-sm-10 col-xs-9">
            <p style="font-size:12px;color:gray;">非表示コメントです</p>
          </div>
        </div>
        <% end %>
      <% else %>
      <%# ログインしてない場合非表示 %>
        <div class="board_comments_nologin col-xs-12">
          <div class="board_comments_no_pic_area col-sm-2 col-xs-3">
            <%= image_tag("no-picture-min.gif") %>
          </div>
        <div class="board_comments_text_area_reject col-sm-10 col-xs-9">
          <p style="font-size:12px;color:gray;">非表示コメントです</p>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
</div>
