<%= form_for(board, html: { class: 'form-horizontal' }) do |f| %>
  <% if board.errors.any? %>
    <%= board.errors.count %>個のエラーがあります<br>
    <% board.errors.full_messages.each do |msg| %>
      <span style="color:red;"><%= msg %></span><br>
    <% end -%>
  <% end -%>


  <div class="field form-group row">
    <div class="col-sm-5">
      <%= f.label :title, 'タイトル', class: 'control-label' %>
      <%= f.text_field :title, class: 'form-control' %>
    </div>
  </div>

  <label class="control-label">本文</label>
  <%= fields_for board_comment do |sf| %>
    <% if board_comment.errors.any? %>
      <%= board_comment.errors.count %>個のエラーがあります<br>
      <% board_comment.errors.full_messages.each do |msg| %>
        <span style="color:red;"><%= msg %></span><br>
      <% end -%>
    <% end -%>
    <div class="form-group row">
      <div class="col-sm-7">
        <%= sf.text_area :text,
          maxlength: "800",
          id: 'comment_text_area',
          onkeydown: 'if(event.keyCode == 13){javascript:transmission();}',
          onkeyup: "document.getElementById('characnt').value=800 - this.value.length",
          class: 'form-control' %>
      </div>
    </div>
  <% end %>
  <div class="col-xs-12">
    <input type="text" id="characnt" disabled="disabled">
  </div>

  <label class="control-label">タグ</label>
  <%= f.nested_fields_for :board_tags, wrapper_tag: :div, wrapper_options: { class: 'row field form-group' } do |q| %>
    <div class="col-xs-9 col-sm-5">
      <%= q.text_field :name, class: 'form-control' %>
    </div>
    <div class="delete-btn col-xs-3 col-sm-4">
      <%= q.remove_nested_fields_link '削除', class: 'btn btn-danger', role: 'button', tabindex: -1 %>
    </div>
  <% end %>

  <div class="row">
      <div class="col-xs-9 col-sm-5">
      </div>
      <div class="div_right_button col-xs-3 col-sm-4">
        <div style="display:inline-block;">
      <%= f.add_nested_fields_link :board_tags, 'タグ追加', class: 'btn btn-primary right_button', role: 'button' %>
    </div>
  </div>



  <%= f.hidden_field :board_id, value: @board.id %>

  <div class="row">
    <div id="board_comment_submit" class="actions form-group col-sm-7">

      <%= f.submit '確定', class: 'btn btn-primary right_button' %>
    </div>
  </div>
<% end %>
