<% boards.each.with_index(1) do |board, i| %>
  <% if i > 8 %>
    <div class="sm-display-none">
  <% end %>
  <%= link_to board_path(board) do %>
    <div class="community_index_board col-xs-12 col-sm-6 original-col-md-4">
      <div class="community_index_board_child">
        <div class="community_index_profile_picture">
          <%= render 'profile_picture', i: board %>
        </div>
        <div class="community_index_board_title">
          <span class="icon icon-main icon-maked_talk title_icon"></span>
          <p><%= truncate(board.title, length: 12) %></p>
        </div>
        <div class="community_index_board_tags_area">
        <% board.board_tags.each.with_index(1) do |tag, i| %>
          <% break if i > 6 %>
          <% if i > 4 %>
            <div class="xs-display-none">
          <% end %>
          <div class="community_index_board_tags" style="display: inline-block;">
            <p><%= truncate("##{tag.name}",length:8) %></p>
          </div>
          <% if i > 4 %>
            </div>
          <% end %>
        <% end %>
        </div>
        <div class="community_index_board_comments">
            <p class="bits_index_board_comments_count">
              コメント数 : <%= board.board_comments_count %>
              <br>
            </p>
            <p class="community_index_board_time">
              <%= board.created_at.strftime('%Y/%m/%d/ %H:%M') %>
            </p>
        </div>
      </div>
    </div>
  <% end %>
  <% if i > 8 %>
    </div>
  <% end %>
<% end %>
