<% boards.each.with_index(1) do |board, i| %>

<%
=begin
%>

<% if i == 5 %>
<%# col-xs広告エリア %>
  <div class="col-xs-12 hidden-sm hidden-md hidden-lg" style="text-align:center;padding-bottom:15px;overflow: visible;margin-left: -15px;">
    <!--  ad tags Size: 320x100 ZoneId:1175812-->
    <script type="text/javascript" src="https://js.medi-8.net/t/175/812/a1175812.js"></script>
  </div>
<% elsif i == 10 %>
  <%# col-xs広告エリア %>
  <div class="col-xs-12 hidden-sm hidden-md hidden-lg" style="text-align:center;padding-bottom:15px;overflow: visible;margin-left: -15px;">
    <!--  ad tags Size: 320x100 ZoneId:1175813-->
    <script type="text/javascript" src="https://js.medi-8.net/t/175/813/a1175813.js"></script>
  </div>
<% elsif i == 7 %>
  <%# col-sm以上広告エリア %>
  <div class="hidden-xs col-sm-12 col-md-12 hidden-lg" style="text-align:center;padding-bottom:15px;">
    <!--  ad tags Size: 468x60 ZoneId:1175798-->
    <script type="text/javascript" src="https://js.medi-8.net/t/175/798/a1175798.js"></script>
  </div>
  <div class="visible-lg col-lg-12" style="text-align:center;padding-bottom:15px;">
    <!--  ad tags Size: 728x90 ZoneId:1175748-->
    <script type="text/javascript" src="https://js.medi-8.net/t/175/748/a1175748.js"></script>
  </div>
<% elsif i == 13 %>
  <%# col-sm以上広告エリア %>
  <div class="hidden-xs col-sm-12 col-md-12 hidden-lg" style="text-align:center;padding-bottom:15px;">
    <!--  ad tags Size: 468x60 ZoneId:1175799-->
    <script type="text/javascript" src="https://js.medi-8.net/t/175/799/a1175799.js"></script>
  </div>
  <div class="visible-lg col-lg-12" style="text-align:center;padding-bottom:15px;">
    <!--  ad tags Size: 728x90 ZoneId:1175750-->
    <script type="text/javascript" src="https://js.medi-8.net/t/175/750/a1175750.js"></script>
  </div>
<% end %>
<%
=end
%>

  <%if controller.controller_name == 'boards' && controller.action_name == 'index' %>
    <% if i > 8 %>
      <div class="sm-display-none">
    <% end %>
  <% end %>

  <%= link_to board_path(board) do %>
    <div class="community_index_board col-xs-12 col-sm-6 original-col-md-4">
      <div class="community_index_board_child">
        <div class="community_index_profile_picture">
          <%= render 'profile_picture', i: board %>
        </div>
        <div class="community_index_board_title">
          <p>
            <span class="icon icon-main icon-maked_talk title_icon" style="padding-right:2px;"></span>
            <span class="original_xxxs"><%= board.title[0, 12] %></span>
            <span class="original_xxs"><%= board.title[0, 16] %></span>
            <span class="original_xs"><%= board.title[0, 18] %></span>
            <span class="original_s"><%= board.title[0, 18] %></span>
            <span class="original_xxxs">　<%= board.title[12, 13] %>...</span>
            <span class="original_xxs"><%= board.title[16, 17] %>...</span>
            <span class="original_xs">　<%= board.title[18, 19] %>...</span>
            <span class="original_s">　<%= board.title[18, 19] %>...</span>
          </p>
        </div>
        <div class="community_index_board_tags_area">
        <% board.board_tags.each.with_index(1) do |tag, i| %>
          <% break if i > 6 %>
          <% if i > 4 %>
            <div class="xs-display-none">
          <% end %>
          <div class="community_index_board_tags" style="display: inline-block;">
            <p><%= truncate("##{tag.name}",length:8) %></p>
          </div>
          <% if i > 4 %>
            </div>
          <% end %>
        <% end %>
        </div>
        <div class="community_index_board_comments">
            <p class="bits_index_board_comments_count">
              コメント数 : <%= board.board_comments_count %>
              <br>
            </p>
            <p class="community_index_board_time">
              <%= board.created_at.strftime('%Y/%m/%d/ %H:%M') %>
            </p>
        </div>
      </div>
    </div>
  <% end %>

  <%if controller.controller_name == 'boards' && controller.action_name == 'index' %>
    <% if i > 8 %>
      </div>
    <% end %>
  <% end %>
<% end %>
