<% if i.user.picture_lg.present? %>
  <% if Rails.env == 'production' %>
      <%= image_tag(ENV['AWS_PICTURE_PATH']+"#{ i.user.picture_min }") %>
      <p style="display:inline;color:black"><strong><%= i.user.username %></strong>　さん</p>
  <% else %>
      <%= image_tag("/docs/#{ i.user.picture_min }") %>
      <p style="display:inline;color:black"><strong><%= i.user.username %></strong>　さん</p>
  <% end %>
<% else %>
  <%= image_tag("no-picture-min.gif") %>
<% end %>