<div id="search_area" class="col-xs-12">
  <div class="form-group row">
    <%= form_tag({controller: '/boards', action: :Search }, method: :get) do %>
      <div class="input-group form-group">
        <%= search_field_tag :search_params,
          @search_params,
          class: 'form-control',
          placeholder: '検索' %>
        <span class="input-group-btn">
        <button type="submit" class="btn btn-default">
          <i class="glyphicon glyphicon-search"></i>
        </button>
        </span>
      </div>
    <% end %>
  </div>
</div>

<%= link_to '新規登録', new_board_path %>
<ul id="board_lists">
  <% @boards.each do |board| %>
    <li class="board_link">
      <div class="board_link_picture_area">
        <%= render 'profile_picture', i: board %>
      </div>
      <div class="board_link_text_area">
        <%= link_to board.title, board_path(board), class: "board_link_text" %>
      </div>
    </li>
  <% end %>
</ul>

<p class="pagenation_count"><%= page_entries_info @boards %></p>

<div class="pagenation_bar">
  <%= paginate @boards %>
</div>