</div>
<% if controller.controller_name == 'boards' && controller.action_name == 'index' %>
  <style>
    body {
      padding-top: 50px
    }
    @media screen and (min-width:768px) {
      body {
        padding-top: 75px
      }
    }
  </style>
<% end %>
<div class="board_top_img col-xs-12" style="margin-bottom:15px;padding:0;">
  <p class="board_top_img_text_a"><%= @top_img_text.contents if @top_img_text.present? %></p>

  <div id="board_top_img_secondarea" class="col-xs-12">
    <div class="board_top_img_link_out col-xs-12 col-sm-6"><%= link_to 'トークルームを作る', new_board_path, class: 'board_top_img_link' %></div>


    <div id="board_top_img_search_area" class="col-xs-12">
      <div id="board_top_img_search_area_child">
        <div class="form-group">
          <%= form_tag({controller: '/boards', action: :Search }, method: :get) do %>
          <div class="input-group form-group board_top_img_search">
            <%= search_field_tag :search_params,
              @search_params,
              class: 'form-control talk_search',
              placeholder: 'キーワード' %>
            <span class="input-group-btn">
              <button type="submit" class="btn btn-default talk_btn">
                <i class="glyphicon glyphicon-search"></i>
              </button>
            </span>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="col-xs-12 talk-title">
    <table>
      <td>
        <span class="icon icon-main icon-pick_talk"></span>
      </td>
        <td><p class="talk-text">注目のトーク</p>
        </td>
    </table>
  </div>
  <div class="container col-xs-12" id="community_index_boards_lists" style="padding:0;">
    <% @attention_boards.each.with_index(1) do |board, i| %>
      <%= link_to board_path(board) do %>
        <div class="community_index_board col-xs-12 col-sm-6 col-md-4">
          <div class="community_index_board_child">
            <div class="community_index_profile_picture">
              <%= render 'profile_picture', i: board %>
            </div>
            <div class="community_index_board_title">
              <p>🖤 <%= truncate(board.title, length: 25) %></p>
            </div>
            <div class="community_index_board_tags_area">
            <% board.board_tags.each do |tag| %>
              <div class="community_index_board_tags" style="display: inline-block;">
                <p><%= "##{tag.name}" %></p>
              </div>
            <% end %>
            </div>
            <div class="community_index_board_comments">
                <p class="community_index_board_comments_count">
                  コメント数 : <%= board.board_comments_count %>
                  <br>

                </p>
                <p class="community_index_board_time">
                  <%= board.created_at.strftime('%Y/%m/%d/ %H:%M') %>
                </p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <%# 広告エリア %>
  <div class="col-xs-12 hidden-sm hidden-md hidden-lg" style="text-align:center;padding-bottom:15px;overflow: visible;margin-left: -15px;">
    <!--  ad tags Size: 320x100 ZoneId:1175804-->
    <script type="text/javascript" src="https://js.medi-8.net/t/175/804/a1175804.js"></script>
  </div>
  <div class="hidden-xs col-sm-12 col-md-12 hidden-lg" style="text-align:center;padding-bottom:15px;">
    <!--  ad tags Size: 468x60 ZoneId:1175760-->
    <script type="text/javascript" src="https://js.medi-8.net/t/175/760/a1175760.js"></script>
  </div>
  <div class="visible-lg col-lg-12" style="text-align:center;padding-bottom:15px;">
    <!--  ad tags Size: 728x90 ZoneId:1175730-->
    <script type="text/javascript" src="https://js.medi-8.net/t/175/730/a1175730.js"></script>
  </div>

  <div class="col-xs-12 talk-title">
    <table>
      <td>
        <span class="icon icon-main icon-new_talk"></span>
      </td>
        <td><p class="talk-text">新着トーク</p>
        </td>
    </table>
  </div>

  <div class="container col-xs-12" id="community_index_boards_lists" style="padding:0;">

    <% @boards.each do |board| %>
      <%= link_to board_path(board) do %>
        <div class="community_index_board col-xs-12 col-sm-6 col-md-4">
          <div class="community_index_board_child">
            <div class="community_index_profile_picture">
              <%= render 'profile_picture', i: board %>
            </div>
            <div class="community_index_board_title">
              <p>🖤 <%= truncate(board.title, length: 25) %></p>
            </div>
            <div class="community_index_board_tags_area">
            <% board.board_tags.each do |tag| %>
              <div class="community_index_board_tags" style="display: inline-block;">
                <p><%= "##{tag.name}" %></p>
              </div>
            <% end %>
            </div>
            <div class="community_index_board_comments">
                <p class="bits_index_board_comments_count">
                  コメント数 : <%= board.board_comments_count %>
                  <br>
                </p>
                <p class="community_index_board_time">
                  <%= board.created_at.strftime('%Y/%m/%d/ %H:%M') %>
                </p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="top_each_page_link_area col-xs-12">
    <div class="top_each_page_link">
      <%= link_to 'もっと見る', new_lists_boards_path %>
    </div>
  </div>

  <%# 広告エリア %>
  <div class="col-xs-12 hidden-sm hidden-md hidden-lg" style="text-align:center;padding-bottom:15px;overflow: visible;margin-left: -15px;">
    <!--  ad tags Size: 320x100 ZoneId:1175805-->
    <script type="text/javascript" src="https://js.medi-8.net/t/175/805/a1175805.js"></script>
  </div>
  <div class="hidden-xs col-sm-12 col-md-12 hidden-lg" style="text-align:center;padding-bottom:15px;">
    <!--  ad tags Size: 468x60 ZoneId:1175764-->
    <script type="text/javascript" src="https://js.medi-8.net/t/175/764/a1175764.js"></script>
  </div>
  <div class="visible-lg col-lg-12" style="text-align:center;padding-bottom:15px;">
    <!--  ad tags Size: 728x90 ZoneId:1175731-->
    <script type="text/javascript" src="https://js.medi-8.net/t/175/731/a1175731.js"></script>
  </div>
</div>
