</div>
<% if controller.controller_name == 'boards' && controller.action_name == 'index' %>
  <style>
    body {
      padding-top: 50px
    }
    @media screen and (min-width:768px) {
      body {
        padding-top: 75px
      }
    }
  </style>
<% end %>
<div class="board_top_img col-xs-12" style="margin-bottom:15px;padding:0;">
  <p class="board_top_img_text_a"><%= @top_img_text.contents if @top_img_text.present? %></p>

  <div id="board_top_img_secondarea" class="col-xs-12">
    <div class="board_top_img_link_out col-xs-12 col-sm-6"><%= link_to 'トークルームを作る', new_board_path, class: 'board_top_img_link' %></div>

    <div id="board_top_img_search_area" class="col-xs-12 col-sm-6">
      <div class="form-group row">
        <%= form_tag({controller: '/boards', action: :Search }, method: :get) do %>
          <div class="input-group form-group">
            <%= search_field_tag :search_params,
              @search_params,
              class: 'form-control',
              placeholder: 'キーワード' %>
            <span class="input-group-btn">
            <button type="submit" class="btn btn-default">
              <i class="glyphicon glyphicon-search"></i>
            </button>
            </span>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="container">

<div class="container col-xs-12" id="community_index_boards_lists" style="padding:0;">
  <p>注目のトーク</p>
  <% @attention_boards.each do |board| %>
    <%= link_to board_path(board) do %>
      <div class="community_index_board col-sm-3">
        <div class="community_index_board_child">
          <div class="community_index_profile_picture">
            <%= render 'profile_picture', i: board %>
          </div>
          <p class="community_index_board_time"><%= board.created_at.strftime('%Y年%m月%d日 %H時%M分') %></p>
          <div class="community_index_board_title">
            <p><%= board.title %></p>
          </div>
          <% board.board_tags.each do |tag| %>
            <div class="community_index_board_tags" style="display: inline-block;margin-right:10px;">
              <p><%= "##{tag.name}" %></p>
            </div>
          <% end %>
          <div class="community_index_board_comments_count">
            <p>コメント数 : <%= board.board_comments_count %></p>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<div class="top_each_page_link_area col-xs-12">
  <div class="top_each_page_link">
    <%= link_to 'もっと見る', attention_boards_path %>
  </div>
</div>


<div class="container col-xs-12" id="community_index_boards_lists" style="padding:0;">
  <p>新着トーク</p>
  <% @boards.each do |board| %>
    <%= link_to board_path(board) do %>
      <div class="community_index_board col-sm-3">
        <div class="community_index_board_child">
          <div class="community_index_profile_picture">
            <%= render 'profile_picture', i: board %>
          </div>
          <p class="community_index_board_time"><%= board.created_at.strftime('%Y年%m月%d日 %H時%M分') %></p>
          <div class="community_index_board_title">
            <p><%= board.title %></p>
          </div>
          <% board.board_tags.each do |tag| %>
            <div class="community_index_board_tags" style="display: inline-block;margin-right:10px;">
              <p><%= "##{tag.name}" %></p>
            </div>
          <% end %>
          <div class="community_index_board_comments_count">
            <p>コメント数 : <%= board.board_comments_count %></p>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<div class="top_each_page_link_area col-xs-12">
  <div class="top_each_page_link">
    <%= link_to 'もっと見る', new_lists_boards_path %>
  </div>
</div>