<div class="container col-xs-12" id="community_index_boards_lists" style="padding:0;">
  <% @boards.each do |board| %>
    <%= link_to board_path(board) do %>
      <div class="community_index_board col-sm-3">
        <div class="community_index_board_child">
          <div class="community_index_profile_picture">
            <%= render 'profile_picture', i: board %>
          </div>
          <p class="community_index_board_time"><%= board.created_at.strftime('%Y年%m月%d日 %H時%M分') %></p>
          <div class="community_index_board_title">
            <p><%= board.title %></p>
          </div>
          <% board.board_tags.each do |tag| %>
            <div class="community_index_board_tags" style="display: inline-block;margin-right:10px;">
              <p><%= "##{tag.name}" %></p>
            </div>
          <% end %>
          <div class="community_index_board_comments_count">
            <p>コメント数 : <%= board.board_comments_count %></p>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<div class="top_each_page_link_area col-xs-12">
  <div class="top_each_page_link">
    <%= link_to 'コミュニティページへ', boards_path %>
  </div>
</div>