<% if controller.action_name == 'my_posts' || controller.action_name == 'my_commented' || controller.action_name == 'like_lists' %>
  <%= render '/bits/mypage_header' %>
<% end %>

<% if (controller.controller_name == 'bits' && controller.action_name == 'view_histories') %>
  <div class="mypage_header_list hidden-sm hidden-xs">
    <span class="icon mp-icon-main icon-checked_video"></span>
    <p class="video-text">これまで視聴した動画</p>
  </div>
  <% elsif (controller.controller_name == 'bits' && controller.action_name == 'like_videos') %>
    <div class="mypage_header_list hidden-sm hidden-xs">
      <span class="icon mp-icon-main icon-video"></span>
      <p class="video-text">お気に入りの動画</p>
    </div>
  <% elsif (controller.controller_name == 'boards' && controller.action_name == 'my_commented') %>
    <div class="mypage_header_list hidden-sm hidden-xs">
      <span class="icon mp-icon-main icon-comment"></span>
      <p class="video-text">コメントしたトーク</p>
    </div>
  <% elsif (controller.controller_name == 'boards' && controller.action_name == 'like_lists') %>
    <div class="mypage_header_list hidden-sm hidden-xs">
      <span class="icon mp-icon-main icon-checked_talk"></span>
      <p class="video-text">気になるトーク</p>
    </div>
  <% elsif (controller.controller_name == 'boards' && controller.action_name == 'my_posts') %>
    <div class="mypage_header_list hidden-sm hidden-xs">
      <span class="icon mp-icon-main icon-maked_talk"></span>
      <p class="video-text">マイトークルーム</p>
    </div>
<% end %>






<%# 検索ワードを表示 %>
<% if @search_params.present? %>
  <p><%= @search_params %></p>
<% end %>

<div id="community_search_area" class="col-xs-12">
  <div class="form-group row">
    <%= form_tag({controller: '/boards', action: :Search }, method: :get) do %>
      <div class="input-group form-group">
        <%= search_field_tag :search_params,
          @search_params,
          class: 'form-control',
          placeholder: '検索' %>
        <span class="input-group-btn">
        <button type="submit" class="btn btn-default">
          <i class="glyphicon glyphicon-search"></i>
        </button>
        </span>
      </div>
    <% end %>
  </div>
</div>

<ul id="board_lists" class="col-xs-12">
  <% @boards.each do |board| %>
<%
=begin
%>
    横一列表示、いったん保留、削除かも

    <li class="board_link">
      <div class="board_link_picture_area">
        <%= render 'profile_picture_lists', i: board %>
      </div>
      <%= link_to board_path(board) do %>
        <div class="board_link_text_area">
          <p class="board_link_text"><%= board.title %></p>
          <p class="board_link_comments_count">コメント数 : <%= board.board_comments_count %></p>
        </div>
      <% end -%>
    </li>
<%
=end
%>

    <%= link_to board_path(board) do %>
      <div class="community_index_board col-md-4 col-sm-6">
        <div class="community_index_board_child">
          <div class="community_index_profile_picture">
            <%= render 'profile_picture', i: board %>
          </div>
          <div class="community_index_board_title">
            <p><%= truncate(board.title, length: 35) %></p>
          </div>
          <div class="community_index_board_tags_area">
          <% board.board_tags.each do |tag| %>
            <div class="community_index_board_tags" style="display: inline-block;">
              <p><%= truncate("##{tag.name}",length:12) %></p>
            </div>
          <% end %>
          </div>
          <div class="community_index_board_comments">
              <p class="bits_index_board_comments_count">
                コメント数 : <%= board.board_comments_count %>
                <br>
              </p>
              <p class="community_index_board_time">
                <%= board.created_at.strftime('%Y/%m/%d/ %H:%M') %>
              </p>
          </div>
        </div>
      </div>
    <% end %>

  <% end %>
</ul>

<p class="pagenation_count"><%= page_entries_info @boards %></p>

<div class="pagenation_bar">
  <%= paginate @boards %>
</div>
