<% if controller.action_name == 'my_posts' || controller.action_name == 'my_commented' || controller.action_name == 'like_lists' %>
  <%= render '/bits/mypage_header' %>
<% end %>

<% if (controller.controller_name == 'bits' && controller.action_name == 'view_histories') %>
  <div class="mypage_header_list hidden-sm hidden-xs">
    <span class="icon mp-icon-main icon-checked_video"></span>
    <p class="video-text">これまで視聴した動画</p>
  </div>
  <% elsif (controller.controller_name == 'bits' && controller.action_name == 'like_videos') %>
    <div class="mypage_header_list hidden-sm hidden-xs">
      <span class="icon mp-icon-main icon-video"></span>
      <p class="video-text">お気に入りの動画</p>
    </div>
  <% elsif (controller.controller_name == 'boards' && controller.action_name == 'my_commented') %>
    <div class="mypage_header_list_talk hidden-sm hidden-xs">
      <span class="icon mp-icon-main icon-comment"></span>
      <p class="video-text">コメントしたトーク</p>
    </div>
  <% elsif (controller.controller_name == 'boards' && controller.action_name == 'like_lists') %>
    <div class="mypage_header_list_talk hidden-sm hidden-xs">
      <span class="icon mp-icon-main icon-checked_talk"></span>
      <p class="video-text">気になるトーク</p>
    </div>
  <% elsif (controller.controller_name == 'boards' && controller.action_name == 'my_posts') %>
    <div class="mypage_header_list_talk hidden-sm hidden-xs">
      <span class="icon mp-icon-main icon-maked_talk"></span>
      <p class="video-text">マイトークルーム</p>
    </div>
<% end %>

<%# 検索ワードを表示 %>
<% if @search_params.present? %>
  <p><%= @search_params %></p>
<% end %>

<% unless @boards.blank? %>
  <div id="board_lists" class="col-xs-12">
    <%= render 'list_contents', boards: @boards %>
  </div>

  <p class="pagenation_count"><%= page_entries_info @boards %></p>

  <div class="pagenation_bar">
    <%= paginate @boards %>
  </div>
<% else %>
  <% if (controller.controller_name == 'boards' && controller.action_name == 'my_commented') %>
    <p>まだコメントしていません。<br>気になるトークにコメントしてみましょう。</p>
  <% elsif (controller.controller_name == 'boards' && controller.action_name == 'like_lists') %>
    <p>まだ気になるトークはありません。<br>たくさんのトークから気になるものを探してみましょう。</p>
  <% elsif (controller.controller_name == 'boards' && controller.action_name == 'my_posts') %>
    <p>まだトークを投稿していません。<br>質問や悩みなどをみんなと共有してみましょう。</p>
  <% end %>
  <%= link_to 'トークを探す', boards_path %>
<% end %>
