<div id="community_search_area" class="col-xs-12">
  <div class="form-group row">
    <%= form_tag({controller: '/boards', action: :Search }, method: :get) do %>
      <div class="input-group form-group">
        <%= search_field_tag :search_params,
          @search_params,
          class: 'form-control',
          placeholder: '検索' %>
        <span class="input-group-btn">
        <button type="submit" class="btn btn-default">
          <i class="glyphicon glyphicon-search"></i>
        </button>
        </span>
      </div>
    <% end %>
  </div>
</div>

<ul id="board_lists">
  <% @boards.each do |board| %>
    <li class="board_link">
      <div class="board_link_picture_area">
        <%= render 'profile_picture_lists', i: board %>
      </div>
      <%= link_to board_path(board) do %>
        <div class="board_link_text_area">
          <p class="board_link_text"><%= board.title %></p>
          <p class="board_link_comments_count">コメント数 : <%= board.board_comments_count %></p>
        </div>
      <% end -%>
    </li>
  <% end %>
</ul>

<p class="pagenation_count"><%= page_entries_info @boards %></p>

<div class="pagenation_bar">
  <%= paginate @boards %>
</div>