<div class="container col-xs-12" id="community_index_boards_lists" style="padding:0;">
  <p>新着トーク</p>
  <% @boards.each do |board| %>
    <%= link_to board_path(board) do %>
      <div class="community_index_board col-md-3 col-sm-4">
        <div class="community_index_board_child">
          <div class="community_index_profile_picture">
            <%= render 'profile_picture', i: board %>
          </div>
          <p class="community_index_board_time"><%= board.created_at.strftime('%Y年%m月%d日 %H時%M分') %></p>
          <div class="community_index_board_title">
            <p><%= truncate(board.title, length: 25) %></p>
          </div>
          <div class="community_index_board_tags_area">
          <% board.board_tags.each do |tag| %>
            <div class="community_index_board_tags" style="display: inline-block;">
              <p><%= "##{tag.name}" %></p>
            </div>
          <% end %>
          </div>
          <div class="community_index_board_comments_count">
            <p>コメント数 : <%= board.board_comments_count %></p>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<p class="pagenation_count"><%= page_entries_info @boards %></p>

<div class="pagenation_bar">
  <%= paginate @boards %>
</div>
