<div class="container col-xs-12" id="community_index_boards_lists" style="padding:0;">
  <p>新着トーク</p>
  <% @boards.each.with_index(1) do |board, i| %>
  <% if i == 7 %>
    <%# 広告エリア %>
    <div class="col-xs-12 hidden-sm hidden-md hidden-lg" style="text-align:center;padding-bottom:15px;overflow: visible;margin-left: -15px;">
      <!--  ad tags Size: 320x100 ZoneId:1146757-->
      <script type="text/javascript" src="https://js.medi-8.net/t/146/757/a1146757.js"></script>
    </div>
    <div class="hidden-xs col-sm-12 col-md-12 hidden-lg" style="text-align:center;padding-bottom:15px;">
      <!--  ad tags Size: 468x60 ZoneId:1142016-->
      <script type="text/javascript" src="https://js.medi-8.net/t/142/016/a1142016.js"></script>
    </div>
    <div class="visible-lg col-lg-12" style="text-align:center;padding-bottom:15px;">
      <!--  ad tags Size: 728x90 ZoneId:1146756-->
      <script type="text/javascript" src="https://js.medi-8.net/t/146/756/a1146756.js"></script>
    </div>
  <% end %>

  <% if i == 16 %>
    <%# 広告エリア %>
    <div class="col-xs-12 hidden-sm hidden-md hidden-lg" style="text-align:center;padding-bottom:15px;overflow: visible;margin-left: -15px;">
      <!--  ad tags Size: 320x100 ZoneId:1146757-->
      <script type="text/javascript" src="https://js.medi-8.net/t/146/757/a1146757.js"></script>
    </div>
    <div class="hidden-xs col-sm-12 col-md-12 hidden-lg" style="text-align:center;padding-bottom:15px;">
      <!--  ad tags Size: 468x60 ZoneId:1142016-->
      <script type="text/javascript" src="https://js.medi-8.net/t/142/016/a1142016.js"></script>
    </div>
    <div class="visible-lg col-lg-12" style="text-align:center;padding-bottom:15px;">
      <!--  ad tags Size: 728x90 ZoneId:1146756-->
      <script type="text/javascript" src="https://js.medi-8.net/t/146/756/a1146756.js"></script>
    </div>
  <% end %>

    <%= link_to board_path(board) do %>
      <div class="community_index_board col-md-4 col-sm-6">
        <div class="community_index_board_child">
          <div class="community_index_profile_picture">
            <%= render 'profile_picture', i: board %>
          </div>
          <div class="community_index_board_title">
            <p><%= truncate(board.title, length: 25) %></p>
          </div>
          <div class="community_index_board_tags_area">
          <% board.board_tags.each do |tag| %>
            <div class="community_index_board_tags" style="display: inline-block;">
              <p><%= "##{tag.name}" %></p>
            </div>
          <% end %>
          </div>
          <div class="community_index_board_comments">
              <p class="bits_index_board_comments_count">
                コメント数 : <%= board.board_comments_count %>
                <br>
              </p>
              <p class="community_index_board_time">
                <%= board.created_at.strftime('%Y/%m/%d/ %H:%M') %>
              </p>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<p class="pagenation_count"><%= page_entries_info @boards %></p>

<div class="pagenation_bar">
  <%= paginate @boards %>
</div>
