<div id="board_title_comment_area">
  <div id="board_show_title">
    <h3><%= @board.title %></h3>
  </div>

  <div id="board_show_top_pic">
    <%= render 'profile_picture_lists', i: @master_comment %>
    <p style="margin-top:10px;margin-bottom:5px;color:gray;"><%= @master_comment.user.username %>さん</p>
    <p><%= @master_comment.created_at.strftime('%Y/%m/%d %H:%M') %></p>
  </div>
  <div id="board_show_top_text">

    <%= simple_format(@master_comment.text) %>

    <% @board.board_tags.each do |tag| %>
      <div style="display: inline-block;margin-right:10px;">
        <%= link_to "##{tag.name}", { controller: :boards, action: :Search, search_params: tag.name } %>
      </div>
    <% end %>
  </div>

  <div id="board_like_button_area" class="col-xs-12">
    <%= render 'like', board: @board, likes: @likes %>
  </div>
</div>

<% if user_signed_in? %>
  <div id="board_newcomment_area">
    <%= form_for(@board_comment) do |f| %>
      <div class="row">
        <div id="board_newcomment_area_pic" class="col-sm-2 col-xs-3">
          <% if @user.picture_lg.present? %>
            <% if Rails.env == 'production' %>
                <%= link_to image_tag(ENV['AWS_PICTURE_PATH']+"#{ @user.picture_min }"), profile_path(@user) %>
            <% else %>
                <%= link_to image_tag("/docs/#{ @user.picture_min }"), profile_path(@user) %>
            <% end %>
          <% else %>
            <%= link_to image_tag("no-picture-min.gif"), profile_path(@user) %>
          <% end %>
          <p style="color:gray;"><%= @user.username %>さん</p>
        </div>
        <div class="form-group col-sm-10 col-xs-9">
          <%= f.text_area :text,
            maxlength: "800",
            id: 'comment_text_area',
            onkeydown: 'if(event.keyCode == 13){javascript:transmission();}',
            onkeyup: "document.getElementById('characnt').value=800 - this.value.length",
            class: 'form-control' %>
        </div>
      </div>

      <%= f.hidden_field :board_id, value: @board.id %>
      <div class="row">
        <div id="board_comment_submit" class="actions form-group col-sm-12">
          <input type="text" id="characnt" disabled="disabled">
          <%= f.submit 'コメント投稿', class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <div id="board_newcomment_area">
    <p><%= link_to 'ログイン', new_user_session_path %>するとコメントの投稿ができます。</p>
  </div>
<% end %>

<%# 広告エリア %>

<div class="col-xs-12 hidden-sm hidden-md hidden-lg" style="text-align:center;padding-bottom:20px;overflow: visible;margin-left:0;margin-bottom:15px;">
  <!--  ad tags Size: 320x100 ZoneId:1175812-->
  <script type="text/javascript" src="https://js.medi-8.net/t/175/812/a1175812.js"></script>
</div>
<div class="hidden-xs col-sm-12 col-md-12 hidden-lg" style="text-align:center;margin-bottom:50px;">
  <!--  ad tags Size: 468x60 ZoneId:1175798-->
  <script type="text/javascript" src="https://js.medi-8.net/t/175/798/a1175798.js"></script>
</div>
<div class="visible-lg col-lg-12" style="text-align:center;margin-bottom:50px;">
  <!--  ad tags Size: 728x90 ZoneId:1175748-->
  <script type="text/javascript" src="https://js.medi-8.net/t/175/748/a1175748.js"></script>
</div>

<div id="board_show_comments_count_area_out" class="col-xs-12" style="margin-top:40px;">
  <div id="board_show_comments_count_area">
    <div id="board_show_comments_count_area_child">
      <p>コメント</p>
      <p><%= @board.board_comments_count %></p>
    </div>
  </div>
</div>

<div id="board_comment_lists">
  <%= render 'board_comments_lists', board_comments: @board_comments %>
</div>

<%= link_to_next_page @board_comments, 'もっと見る', remote: true, id: 'board_comments_more_link' %>

<% if user_signed_in? %>
  <% if current_user.user_level > 1 %>
  <div class="delete-boards-comment col-xs-12">
    <%= link_to '削除する', board_path(@board), method: :delete, data: { confirm: "削除してよろしいですか？" } %>
  </div>
  <% end %>
<% end %>
