<h3><%= @board.title %></h3>
<% @board.board_tags.each do |tag| %>
  <div style="display: inline-block;margin-right:10px;">
    <%= "##{tag.name}" %>
  </div>
<% end %>
<ul id="board_comment_lists">
<% @board_comments.each do |bc| %>
  <%# board_commentのdisplayがtrueだったら表示 %>
  <% if bc.display == true %>
    <% if bc.user.id == bc.board.user_id %>
    <li class="board_master_comments">
    <% else%>
    <li class="board_comments">
    <% end %>
      <%= render 'profile_picture', i: bc %>
      <strong><%= bc.user.username %></strong><%= bc.created_at.strftime('%Y年%m月%d日 %H時%M分%S秒') %>
      <%= simple_format(bc.text) %>
      <% if user_signed_in? %>
        <% if current_user.user_level > 1 %>
          <%= link_to '非表示にする', board_comment_path(bc), method: :delete, data: { confirm: "削除してよろしいですか？" } %>
        <% end %>
      <% end %>
    </li>
  <% else %>
    <%# board_commentのdisplayがfalseでも管理者権限のユーザーでログインしてたら表示 %>
    <% if user_signed_in? %>
      <% if current_user.user_level > 1 %>
        <% if bc.user.id == bc.board.user_id %>
        <li class="board_master_comments">
        <% else%>
        <li class="board_comments">
        <% end %>
          <%= render 'profile_picture', i: bc %>
          <strong><%= bc.user.username %></strong><%= bc.created_at.strftime('%Y年%m月%d日 %H時%M分%S秒') %>
          <%= simple_format(bc.text) %>
          <%= link_to '表示させる', display_board_comments_path(bc)%>
        <span style="color:red;">削除したコメントです</span>
        </li>
      <% else %>
        <%# ログインしてても管理者じゃない場合、非表示 %>
        <li class="board_comments">
          <%= image_tag("no-picture-min.gif") %>
          <strong>非表示</strong>
        </li>
      <% end %>
    <% else %>
      <%# ログインしてない場合非表示 %>
      <li class="board_comments">
        <%= image_tag("no-picture-min.gif") %>
        <strong>非表示</strong>
      </li>
    <% end %>
  <% end %>
<% end %>
</ul>

<% if user_signed_in? %>
  <div id="board_newcomment_area">
    <%= form_for(@board_comment) do |f| %>
      <div class="row">
        <div class="form-group col-sm-12">
          <%= f.text_area :text,
            maxlength: "800",
            id: 'comment_text_area',
            onkeydown: 'if(event.keyCode == 13){javascript:transmission();}',
            onkeyup: "document.getElementById('characnt').value=800 - this.value.length",
            class: 'form-control' %>
        </div>
      </div>
      <%= f.hidden_field :board_id, value: @board.id %>
      <div class="row">
        <div id="board_comment_submit" class="actions　form-group col-sm-12">
          <input type="text" id="characnt" disabled="disabled">
          <%= f.submit 'コメント投稿', class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>

  <% if current_user.user_level > 1 %>
    <%= link_to '削除する', board_path(@board), method: :delete, data: { confirm: "削除してよろしいですか？" } %>
  <% end %>
<% else %>
  <div id="board_newcomment_area">
    <p><%= link_to 'ログイン', new_user_session_path %>するとコメントの投稿ができます。</p>
  </div>
<% end %>