<%= link_to youtube_video_path(youtube), class: 'y_video_top_link_lg' do %>
  <div class="y_video_top_body_lg row">
    <div class="y_video_top_img_area col-sm-12" style="padding: 0;">
      <div class="y_video_img_area col-sm-12" style="padding: 0;position:relative;">
        <% url = youtube.url.gsub(/http.+v=/, "") %>
        <% url = url.gsub(/&.+./, "") %>
        <%= image_tag('https://i.ytimg.com/vi/' + url + '/mqdefault.jpg',
          width: '100%',
          class: 'bits_index_link_img') %>

        <div class="y_video_img_video_time">
          <%= youtube.video_time %>
        </div>
      </div>
      <div class="y_video_top_titlearea_lg hidden-xs">
        <h4 class="title"><%= youtube.title %></h4>
      </div>
      <div class="y_video_top_catchphrase_lg hidden-xs">
        <h5 class="catchphrase"><%= youtube.catchphrase %></h5>
      </div>
      <div class="y_video_top_textarea visible-xs" style="padding: 0;">
        <div class="y_video_top_titlearea_sm">
          <h4 class="title"><%= youtube.title %></h4>
        </div>
        <div class="y_video_top_catchphrase_sm">
          <h5 class="catchphrase"><%= youtube.catchphrase %></h5>
        </div>
      </div>
    </div>

    <div class="pickup_level_4 hidden-xs">
      <div class="y_video_top_poster_comment">
        <% time = (Time.now - youtube.created_at) / 3600 %>
        <% if time < 24 %>
          <p class="y_video_top_poster_comment_label">ビット運営からの一言 / 投稿 <%= (time).to_i %>時間前</p>
          <%= simple_format(youtube.poster_comment, class: 'y_video_top_poster_comment_text') %>
        <% else %>
          <% time = time / 24 %>
          <p class="y_video_top_poster_comment_label">ビット運営からの一言 / 投稿 <%= (time).to_i %>日前</p>
          <%= simple_format(youtube.poster_comment, class: 'y_video_top_poster_comment_text') %>
        <% end %>
      </div>
    </div>

  </div>
<% end -%>