<% if user_signed_in? %>
  <%# 左右100％の為いったんcontainerの中央寄せを解除の為に、まずdivを閉じる %>
  </div>
  <style>
    body {
      padding-top: 50px
    }
    @media screen and (min-width:768px) {
      body {
        padding-top: 75px
      }
    }
  </style>

  <% if (controller.controller_name == 'profiles' && controller.action_name == 'show') ||
        (controller.controller_name == 'registrations' && controller.action_name == 'edit') %><%# プロフィールページの場合 %>
    <div id="mypage_header_top" class="col-xs-12 row">
      <div id="mypage_header_infomation" class="col-xs-6">
        <div id="mypage_header_infomation_child" class=" col-xs-6 col-xs-offset-6">
          <div class="mypage_header_information_container">
            <span class="icon mp-nav-icon icon-information" style="color:#000;font-size:48px">
            </span>
            <p style="padding-top:5px;padding-bottom:3px:">
            ご登録情報
            </p>
          </div>
        </div>
      </div>
      <div id="mypage_header_activity_history" class="col-xs-6">
        <div id="mypage_header_activity_history_child" class=" col-xs-6">
          <%= link_to ({ :controller => '/bits', action: :view_histories, or: 'history' } ) do %>
          <div class="mypage_header_activity_container">
              <span class="icon mp-nav-icon icon-history" style="color:#FFF;font-size:48px">
              </span>
              <p style="padding-top:5px;padding-bottom:3px:">
                活動履歴
            </p>
          </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="container"><%# 左右100%エリア終わりの為、中央寄せ再開の為、container設置 %>
  <% else %><%# プロフィールページでは無い場合 %>
    <div id="mypage_header_top" class="col-xs-12 row">
      <div id="mypage_header_infomation" class="col-xs-6">
        <div id="mypage_header_infomation_child_2nd" class="col-xs-6 col-xs-offset-6">
          <%= link_to profile_path(current_user.id) do %>
          <div class="mypage_header_information_container_change_2nd">
            <span class="icon mp-nav-icon icon-information" style="color:#FFF;font-size:48px">
            </span>
            <p style="padding-top:5px;padding-bottom:3px:">
              ご登録情報
            </p>
          </div>
          <% end %>
        </div>
      </div>
      <div id="mypage_header_activity_history_2nd" class="col-xs-6">
        <div id="mypage_header_activity_history_child_2nd" class=" col-xs-6">
          <div class="mypage_header_activity_container_2nd">
            <span class="icon mp-nav-icon icon-history" style="color:#000;font-size:48px">
            </span>
            <p style="padding-top:5px;padding-bottom:3px:">
            活動履歴
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="container container_mypage"><%# 左右100%エリア終わりの為、中央寄せ再開の為、container設置 %>

    <%# sm以上のマイページヘッダー %>
    <div id="mypage_header_bottom" class="hidden-xs hidden-sm">
      <% if (controller.controller_name == 'bits' && controller.action_name == 'view_histories') %>
        <div id="mypage_header_view_history" class="mypage_header_active">
          <p>視聴履歴</p>
          <span class="icon icon-mp icon-video"></span>
        </div>
      <% else %>
        <div id="mypage_header_view_history" class="mypage_header_no_active">
          <%= link_to({ :controller => '/bits', action: :view_histories, or: 'history' }) do %>
            <p>視聴履歴</p>
            <span class="icon icon-mp icon-video"></span>
          <% end %>
        </div>
      <% end %>

      <% if (controller.controller_name == 'bits' && controller.action_name == 'like_videos') %>
        <div id="mypage_header_myfavorite" class="mypage_header_active">
          <p>お気に入り</p>
          <span class="icon icon-mp icon-video"></span>
        </div>
      <% else %>
        <div id="mypage_header_myfavorite" class="mypage_header_no_active">
          <%= link_to({ :controller => '/bits', action: :like_videos, or: 'history' }) do %>
            <p>お気に入り</p>
            <span class="icon icon-mp icon-video"></span>
          <% end %>
        </div>
      <% end %>

      <% if (controller.controller_name == 'boards' && controller.action_name == 'my_commented') %>
        <div id="mypage_header_comments" class="mypage_header_active">
          <p>コメント</p>
          <span class="icon icon-mp icon-talk"></span>
        </div>
      <% else %>
        <div id="mypage_header_comments" class="mypage_header_no_active">
          <%= link_to(my_commented_boards_path) do  %>
            <p>コメント</p>
            <span class="icon icon-mp icon-talk"></span>
          <% end %>
        </div>
      <% end %>

      <% if (controller.controller_name == 'boards' && controller.action_name == 'like_lists') %>
        <div id="mypage_header_board_like" class="mypage_header_active">
          <p>気になる</p>
          <span class="icon icon-mp icon-talk"></span>
        </div>
      <% else %>
        <div id="mypage_header_board_like" class="mypage_header_no_active">
          <%= link_to(like_lists_boards_path) do %>
            <p>気になる</p>
            <span class="icon icon-mp icon-talk"></span>
          <% end %>
        </div>
      <% end %>

      <% if (controller.controller_name == 'boards' && controller.action_name == 'my_posts') %>
        <div id="mypage_header_mytolkroom" class="mypage_header_active">
          <p>マイトークルーム</p>
          <span class="icon icon-mp icon-talk"></span>
        </div>
      <% else %>
        <div id="mypage_header_mytolkroom" class="mypage_header_no_active">
          <%= link_to(my_posts_boards_path) do %>
            <p>マイトークルーム</p>
            <span class="icon icon-mp icon-talk"></span>
          <% end %>
        </div>
      <% end %>
    </div>

    <%# xsの時のマイページヘッダー %>
    <%# ドロップダウンメニューにいれるタイトルを条件分岐で決める %>
    <% if controller.action_name == 'my_posts' %>
      <% dropdown_title = 'マイトークルーム' %>
    <% elsif controller.action_name == 'my_commented' %>
      <% dropdown_title = 'コメントした動画' %>
    <% elsif controller.action_name == 'view_histories' %>
      <% dropdown_title = '視聴履歴' %>
    <% elsif controller.action_name == 'like_videos' %>
      <% dropdown_title = 'お気に入り' %>
    <% else %>
      <% dropdown_title = '気になる' %>
    <% end %>

    <div class="visible-xs visible-sm">
      <div class="btn-group mypage_btn">
        <button class="btn btn-default btn-mypage dropdown-toggle" data-toggle="dropdown"><%= dropdown_title %><span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><%= link_to '視聴履歴', { :controller => '/bits', action: :view_histories, or: 'history' } %></li>
          <li><%= link_to 'お気に入り', { :controller => '/bits', action: :like_videos, or: 'history' } %></li>
          <li><%= link_to 'コメント', my_commented_boards_path  %></li>
          <li><%= link_to '気になる', my_commented_boards_path  %></li>
          <li><%= link_to 'マイトークルーム', my_posts_boards_path  %></li>
        </ul>
      </div>
    </div>
  <% end %>
<% end %>
