<% if i.user.picture_lg.present? %>
  <% if Rails.env == 'production' %>
      <%= image_tag(ENV['AWS_PICTURE_PATH']+"#{ i.user.picture_min }") %>
      <p class="user_name_talk" style="display:inline;color:#3d3d3d;"><%= i.user.username %>　さん</p>
  <% else %>
      <%= image_tag("/docs/#{ i.user.picture_min }") %>
      <p class="user_name_talk" style="display:inline;color:#3d3d3d"><%= i.user.username %>　さん</p>
  <% end %>
<% else %>
  <%= image_tag("no-picture-min.gif") %>
      <p class="icon_no_img" style="display:inline;color:black">名無し　さん</p>
<% end %>
