<div id="bits_index_sidebar" class="col-sm-3">
  <div id="search_area" class="col-xs-12">
    <div class="form-group row">
      <%= form_tag({controller: '/bits', action: :Search, id: @Search}, method: :get) do %>
        <div class="input-group form-group">
          <%= search_field_tag :search_params,
            session[:search_params],
            class: 'form-control',
            placeholder: 'キーワード' %>
          <span class="input-group-btn">
          <button type="submit" class="btn btn-default">
            <i class="glyphicon glyphicon-search"></i>
          </button>
          </span>
        </div>
      <% end %>
    </div>
  </div>

  <div class="genre">
      <%= link_to controller: :bits, action: :like_videos, or: 'time' do %>
        <p><i class="glyphicon glyphicon-thumbs-up"></i><strong>グッドした動画</strong></p>
      <% end %>
  </div>

  <div class="genre">
      <%= link_to controller: :bits, action: :view_histories, or: 'time' do %>
        <p><strong>視聴履歴</strong></p>
      <% end %>
  </div>


  <div class="genre">
    <strong><%= link_to '注目キーワード', { controller: :bits, action: :attentionSearch, search_params: '注目キーワード', or: 'pv' } %></strong>
  </div>
  <% tags.each do |tag| %>
    <% if tag.genre == '注目キーワード' %>
      <div class="search_tag">
        <%= link_to "#{tag.tag_name}", { controller: :bits, action: :Search, search_params: tag.tag_name, category_params: "", or: 'pv' } %><br>
      </div>
    <% end %>
  <% end %>

  <div class="genre">
    <strong><%= link_to '演目', { controller: :bits, action: :genreSearch, search_params: '演目', or: 'pv' } %></strong>
  </div>
  <% tags.each do |tag| %>
    <% if tag.genre == '演目' %>
      <div class="search_tag">
        <%= link_to "#{tag.tag_name}", { controller: :bits, action: :Search, search_params: tag.tag_name, category_params: tag.genre, or: 'pv' } %><br>
      </div>
    <% end %>
  <% end %>

  <div class="genre">
    <strong><%= link_to 'レッスン', { controller: :bits, action: :genreSearch, search_params: 'レッスン', or: 'pv' } %></strong>
  </div>
  <% tags.each do |tag| %>
    <% if tag.genre == 'レッスン' %>
      <div class="search_tag">
        <%= link_to "#{tag.tag_name}", { controller: :bits, action: :Search, search_params: tag.tag_name, category_params: tag.genre, or: 'pv' } %><br>
      </div>
    <% end %>
  <% end %>

  <div class="genre">
    <strong><%= link_to 'その他', { controller: :bits, action: :genreSearch, search_params: "その他", or: 'pv' } %></strong>
  </div>
</div>