<%= link_to 'youtube登録', new_youtube_video_path %><br>

<% @tags.each do |tag| %>
  <div class="search_tag">
    <%= link_to "##{tag}", { controller: :bits, action: :Search, search_title: '', search_tag: tag } %>
  </div>
<% end %>

<div class="form-group row">
  <%= form_tag({action: :Search, id: @Search}, method: :get) do %>
    <div class="form-group">
      <div class="col-sm-3">
        <%= search_field_tag :search_title, session[:search_title_params], class: 'form-control', placeholder: 'タイトル' %>
      </div>
      <div class="col-sm-3">
        <%= search_field_tag :search_tag, session[:search_tag_params], class: 'form-control', placeholder: 'タグ' %>
      </div>
      <button type="submit" class="btn btn-primary col-sm-1">
        <i class="glyphicon glyphicon-search"></i> 検索
      </button>
    </div>
  <% end %>
</div>

<%= page_entries_info @youtubes %>

<div class="y_index_links row-eq-height">
  <% @youtubes.each do |youtube| %>
    <div class="y_video col-xs-12 col-sm-4 col-md-3">
      <div class="y_video_body">
        <% url = youtube.url.gsub(/http.+v=/, "") %>
        <%# url = url.gsub(/&list.+./, "") %>
        <% url = url.gsub(/&.+./, "") %>
        <%= link_to image_tag('http://i.ytimg.com/vi/' + url + '/hqdefault.jpg',
                                width: '100%',
                                class: 'bits_index_link_img'),
                              youtube_video_path(youtube) %>
        <div class="y_video_body_tagarea">
          <p>
            <strong>タグ:</strong>
            <% youtube.youtube_video_tags.each do |tag| %>
              #<%= tag.name %>
            <% end -%>
          </p>
        </div>
        <div class="y_video_body_textarea">
          <h4 class="title"><%= link_to youtube.title, youtube_video_path(youtube) %></h4>
        </div>
      </div>
    </div>
  <% end %>
</div><%# y_index_link %>

<div class="pagenation_bar">
  <%= paginate @youtubes %>
</div>