</div>
<% if controller.controller_name == 'bits' && controller.action_name == 'index' %>
  <style>
    body {
      padding-top: 50px
    }
    @media screen and (min-width:768px) {
      body {
        padding-top: 75px
      }
    }
  </style>
<% end %>
<%#<div class="top_img col-xs-12 hidden-sm hidden-md hidden-lg" style="margin-bottom:15px;">%>
<div class="top_img col-xs-12" style="margin-bottom:15px;padding:0;">
  <p class="top_img_text_a"><%= @top_img_text_a.contents if @top_img_text_a.present? %></p>
  <p class="top_img_text_b"><%= @top_img_text_b.contents if @top_img_text_b.present? %></p>
  <div class="top_img_link_out"><%= link_to 'まずは演目から探してみる', { controller: :bits, action: :genreSearch, search_params: '演目', or: 'pv' }, class: 'top_img_link' %></div>
</div>
<div class="container">

<div id="y_index_links">
  <div class="y_index_video_lists col-xs-12 row-eq-height" style="padding:0;">
  <% view_num = 0 %>
  <% pic_view_num = 0 %>
    <%# 1 %>
    <div class="y_index_links_pickup_area col-xs-12 col-sm-6 row-eq-height">
      <% unless @pic_youtubes[pic_view_num].nil? %>
        <%# if @pic_youtubes[pic_view_num][:pickup_level] == 1 %>
          <div class="y_index_links_pickup_tag_left">
            <p>PICK UP</p>
          </div>
          <%= render 'list_md4', youtube: @pic_youtubes[pic_view_num] %>
          <% pic_view_num = pic_view_num + 1 %>
        <%# end %>
      <% end %>
    </div>

    <%# 2 3 %>
    <div class="col-xs-6 col-sm-3 row-eq-height" style="height: 100%;">
      <% unless @youtubes[view_num].nil? %>
        <%= render 'list_sm123', youtube: @youtubes[view_num] %>
        <% view_num = view_num + 1 %>
      <% end %>
      <% unless @youtubes[view_num].nil? %>
        <%= render 'list_sm123', youtube: @youtubes[view_num] %>
        <% view_num = view_num + 1 %>
      <% end %>
    </div>
    <%# 4 5 %>
    <div class="col-xs-6 col-sm-3 row-eq-height" style="height: 100%;">
      <% unless @youtubes[view_num].nil? %>
        <%= render 'list_sm123', youtube: @youtubes[view_num] %>
        <% view_num = view_num + 1 %>
      <% end %>
      <% unless @youtubes[view_num].nil? %>
        <%= render 'list_sm123', youtube: @youtubes[view_num] %>
        <% view_num = view_num + 1 %>
      <% end %>
    </div>

    <%# 6 %>
    <div class="hidden-xs col-sm-6">
      <%= link_to image_tag('mu_ad_img3.jpg', width: '100%'), 'http://mu-ballet.com', target: '_blank' %>
    </div>
    <div class="visible-xs col-xs-12" style="margin-bottom:10px;">
      <%= link_to image_tag('mu_ad_img2.jpg', width: '100%'), 'http://mu-ballet.com', target: '_blank' %>
    </div>
    <%# 7 %>

    <%# 8 %>
    <div class="col-xs-6 col-sm-3 row-eq-height" style="height: 100%;">
      <% unless @youtubes[view_num].nil? %>
        <%= render 'list_sm123', youtube: @youtubes[view_num] %>
        <% view_num = view_num + 1 %>
      <% end %>
    </div>
    <%# 9 %>
    <div class="col-xs-6 col-sm-3 row-eq-height" style="height: 100%;">
      <% unless @youtubes[view_num].nil? %>
        <%= render 'list_sm123', youtube: @youtubes[view_num] %>
        <% view_num = view_num + 1 %>
      <% end %>
    </div>

  <div class="top_each_page_link_area col-xs-12">
    <div class="top_each_page_link">
      <%= link_to '動画ページへ', videotop_bits_path %>
    </div>
  </div>

  </div>

  <div class="container col-xs-12" id="bit_index_boards_lists" style="padding:0;">
    <% @boards.each do |board| %>
      <%= link_to board_path(board) do %>
        <div class="bits_index_board col-sm-3">
          <div class="bits_index_board_child">
            <div class="bits_index_profile_picture">
              <%= render 'profile_picture', i: board %>
            </div>
            <p class="bits_index_board_time"><%= board.created_at.strftime('%Y年%m月%d日 %H時%M分') %></p>
            <div class="bits_index_board_title">
              <p><%= board.title %></p>
            </div>
            <% board.board_tags.each do |tag| %>
              <div class="bits_index_board_tags" style="display: inline-block;margin-right:10px;">
                <p><%= "##{tag.name}" %></p>
              </div>
            <% end %>
            <div class="bits_index_board_comments_count">
              <p>コメント数 : <%= board.board_comments_count %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="top_each_page_link_area col-xs-12">
    <div class="top_each_page_link">
      <%= link_to 'コミュニティページへ', boards_path %>
    </div>
  </div>
</div>