</div>
<% if controller.controller_name == 'bits' && controller.action_name == 'index' %>
  <style>
    body {
      padding-top: 50px
    }
    @media screen and (min-width:768px) {
      body {
        padding-top: 75px
      }
    }
  </style>
<% end %>
<%#<div class="top_img col-xs-12 hidden-sm hidden-md hidden-lg" style="margin-bottom:15px;">%>
<div class="top_img col-xs-12" style="margin-bottom:15px;padding:0;">
  <p class="top_img_text_a">あなたのバレエ人生に特別を</p>
  <p class="top_img_text_b">演目やキーワードから動画を簡単に探せます</p>
  <div class="top_img_link_out"><%= link_to 'まずは演目から探してみる', { controller: :bits, action: :genreSearch, search_params: '演目', or: 'pv' }, class: 'top_img_link' %></div>
</div>
<div class="container">
<%= render 'sidebar', tags: @tags %>

<div id="y_index_links">
  <div class="y_index_video_lists col-sm-9 row-eq-height" style="padding:0;">
  <% view_num = 0 %>
  <% pic_view_num = 0 %>
    <%# 1 %>
    <div class="col-xs-12 col-sm-4 row-eq-height" style="height: 100%;">
      <% unless @youtubes[view_num].nil? %>
        <%= render 'list_sm123', youtube: @youtubes[view_num] %>
        <% view_num = view_num + 1 %>
      <% end %>
    </div>
    <%# 2 %>
    <div class="col-xs-12 col-sm-4 row-eq-height" style="height: 100%;">
      <% unless @youtubes[view_num].nil? %>
        <%= render 'list_sm123', youtube: @youtubes[view_num] %>
        <% view_num = view_num + 1 %>
      <% end %>
    </div>
    <%# 3 %>
    <div class="col-xs-12 col-sm-4 row-eq-height" style="height: 100%;">
      <% unless @youtubes[view_num].nil? %>
        <%= render 'list_sm123', youtube: @youtubes[view_num] %>
        <% view_num = view_num + 1 %>
      <% end %>
    </div>

    <%# 4 %>
    <div class="y_index_links_pickup_area col-xs-12 col-sm-8 row-eq-height">
      <% unless @pic_youtubes[pic_view_num].nil? %>
        <% if @pic_youtubes[pic_view_num][:pickup_level] == 1 %>
          <div class="y_index_links_pickup_tag_left">
            <p>PICK UP</p>
          </div>
          <%= render 'list_md4', youtube: @pic_youtubes[pic_view_num] %>
          <% pic_view_num = pic_view_num + 1 %>
        <% end %>
      <% end %>
    </div>

    <%# 5 6 %>
    <div class="col-xs-12 col-sm-4 row-eq-height" style="height: 100%;">
      <% unless @youtubes[view_num].nil? %>
        <%= render 'list_sm56', youtube: @youtubes[view_num] %>
        <% view_num = view_num + 1 %>
      <% end %>
      <% unless @youtubes[view_num].nil? %>
        <%= render 'list_sm56', youtube: @youtubes[view_num] %>
        <% view_num = view_num + 1 %>
      <% end %>
    </div>

    <div class="hidden-xs col-sm-7 col-md-6 col-lg-5" style="margin:0 0 15px 0;">
      <%= link_to image_tag('mu_ad_img1.jpg', width: '100%'), 'http://mu-ballet.com', target: '_blank' %>
    </div>
    <div class="visible-xs col-xs-12" style="margin:0 0 15px 0;">
      <%= link_to image_tag('mu_ad_img2.jpg', width: '100%'), 'http://mu-ballet.com', target: '_blank' %>
    </div>

    <%# 7 %>
<%
=begin
%>
    <div class="y_index_links_pickup_area col-xs-12 col-sm-5 col-md-6 col-lg-7 row-eq-height">
      <% unless @pic_youtubes[pic_view_num].nil? %>
        <% if @pic_youtubes[pic_view_num][:pickup_level] == 2 %>
          <div class="y_index_links_pickup_tag_right">
            <p>PICK UP</p>
          </div>
          <%= render 'list_md7', youtube: @pic_youtubes[pic_view_num] %>
          <% pic_view_num = pic_view_num + 1 %>
        <% end %>
      <% end %>
    </div>
<%
=end
%>

    <%# 7 %>
    <div class="col-xs-12 col-sm-5 col-md-6 col-lg-7 row-eq-height" style="height: 100%;">
      <% unless @youtubes[view_num].nil? %>
        <%= render 'list_sm123', youtube: @youtubes[view_num] %>
        <% view_num = view_num + 1 %>
      <% end %>
    </div>

    <%# 8 %>
    <div class="col-xs-12 col-sm-4 row-eq-height" style="height: 100%;">
      <% unless @youtubes[view_num].nil? %>
        <%= render 'list_sm123', youtube: @youtubes[view_num] %>
        <% view_num = view_num + 1 %>
      <% end %>
    </div>
    <%# 9 %>
    <div class="col-xs-12 col-sm-4 row-eq-height" style="height: 100%;">
      <% unless @youtubes[view_num].nil? %>
        <%= render 'list_sm123', youtube: @youtubes[view_num] %>
        <% view_num = view_num + 1 %>
      <% end %>
    </div>

    <%# 10 %>
    <div class="col-xs-12 col-sm-4 row-eq-height" style="height: 100%;">
      <% unless @youtubes[view_num].nil? %>
        <%= render 'list_sm123', youtube: @youtubes[view_num] %>
        <% view_num = view_num + 1 %>
      <% end %>
    </div>

    <div class="col-xs-12 hidden-sm hidden-md hidden-lg" style="text-align:center;padding-bottom:15px;">
      <!-- admax 300×250px-->
      <div class="admax-native" data-admax-id="4b5879fb019fb93a43400dec4515824d"></div>
      <script type="text/javascript" charset="utf-8" src="//adm.shinobi.jp/st/na.js"></script>
      <!-- admax -->
    </div>
    <div class="hidden-xs col-sm-12 col-md-12 hidden-lg" style="text-align:center;padding-bottom:15px;">
      <!-- admax 468×60px-->
      <script src="//adm.shinobi.jp/s/b7c559839141ee4f6bbb301f9bda7e0d"></script>
      <!-- admax -->
    </div>
    <div class="visible-lg col-lg-12" style="text-align:center;padding-bottom:15px;">
      <!-- admax　728×90px -->
      <script src="//adm.shinobi.jp/s/e38b41210a0c851360b5c6366ce95f9e"></script>
      <!-- admax -->
    </div>

    <%# 11 12 %>
    <div class="col-xs-12 col-sm-4 row-eq-height" style="height: 100%;">
      <% unless @youtubes[view_num].nil? %>
        <%= render 'list_sm56', youtube: @youtubes[view_num] %>
        <% view_num = view_num + 1 %>
      <% end %>
      <% unless @youtubes[view_num].nil? %>
        <%= render 'list_sm56', youtube: @youtubes[view_num] %>
        <% view_num = view_num + 1 %>
      <% end %>
    </div>

    <%# 13 %>
    <div class="y_index_links_pickup_area col-xs-12 col-sm-8 row-eq-height">
      <% unless @pic_youtubes[pic_view_num].nil? %>
        <% if @pic_youtubes[pic_view_num][:pickup_level] == 2 %>
          <div class="y_index_links_pickup_tag_right">
            <p>PICK UP</p>
          </div>
          <%= render 'list_md4', youtube: @pic_youtubes[pic_view_num] %>
          <% pic_view_num = pic_view_num + 1 %>
        <% end %>
      <% end %>
    </div>

    <div id="y_index_all_view_buttonarea_outside" class="col-xs-12">
      <div id="y_index_all_view_buttonarea_inside">
        <%= link_to '全ての動画を表示する', { controller: :bits, action: :all, or: 'time' }, id: 'y_index_all_view_button' %>
      </div>
    </div>
  </div>
</div>