<%= render 'sidebar', genres: @genres, tags: @tags %>

<div id="y_index_links">
  <div class="col-sm-9 row-eq-height">
  <% view_num = 0 %>

    <div class="col-xs-12 col-sm-4 row-eq-height" style="height: 100%;">
      <% unless @youtubes[view_num].nil? %>
        <% if @youtubes[view_num][:pickup_level] == 1 %>
          <%= render 'list_sm123', youtube: @youtubes[view_num] %>
          <% view_num = view_num + 1 %>
        <% end %>
      <% end %>
    </div>
    <div class="col-xs-12 col-sm-4 row-eq-height" style="height: 100%;">
      <% unless @youtubes[view_num].nil? %>
        <% if @youtubes[view_num][:pickup_level] == 2 %>
          <%= render 'list_sm123', youtube: @youtubes[view_num] %>
          <% view_num = view_num + 1 %>
        <% end %>
      <% end %>
    </div>
    <div class="col-xs-12 col-sm-4 row-eq-height" style="height: 100%;">
      <% unless @youtubes[view_num].nil? %>
        <% if @youtubes[view_num][:pickup_level] == 3 %>
          <%= render 'list_sm123', youtube: @youtubes[view_num] %>
          <% view_num = view_num + 1 %>
        <% end %>
      <% end %>
    </div>

    <div class="col-xs-12 col-sm-8 row-eq-height">
      <% unless @youtubes[view_num].nil? %>
        <% if @youtubes[view_num][:pickup_level] == 4 %>
          <%= render 'list_md4', youtube: @youtubes[view_num] %>
          <% view_num = view_num + 1 %>
        <% end %>
      <% end %>
    </div>

    <div class="col-xs-12 col-sm-4 row-eq-height" style="height: 100%;">
      <% unless @youtubes[view_num].nil? %>
        <% if @youtubes[view_num][:pickup_level] == 5 %>
          <%= render 'list_sm56', youtube: @youtubes[view_num] %>
          <% view_num = view_num + 1 %>
        <% end %>
      <% end %>
      <% unless @youtubes[view_num].nil? %>
        <% if @youtubes[view_num][:pickup_level] == 6 %>
          <%= render 'list_sm56', youtube: @youtubes[view_num] %>
          <% view_num = view_num + 1 %>
        <% end %>
      <% end %>
    </div>

    <div class="hidden-xs col-sm-4">
      <div style="border: 1px dotted black; height:100%;">
        こうこく
      </div>
    </div>

    <div class="col-xs-12 col-sm-8 row-eq-height">
      <% unless @youtubes[view_num].nil? %>
        <% if @youtubes[view_num][:pickup_level] == 7 %>
          <%= render 'list_md7', youtube: @youtubes[view_num] %>
          <% view_num = view_num + 1 %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>