</div>
<% if controller.controller_name == 'bits' && controller.action_name == 'index' %>
  <style>
    body {
      padding-top: 50px
    }
    @media screen and (min-width:768px) {
      body {
        padding-top: 75px
      }
    }
  </style>
<% end %>
<%#<div class="top_img col-xs-12 hidden-sm hidden-md hidden-lg" style="margin-bottom:15px;">%>
<div class="top_img col-xs-12" style="margin-bottom:15px;padding:0;">
  <p class="top_img_text_a">あなたのバレエ人生に特別を</p>
  <p class="top_img_text_b">演目やキーワードから動画を簡単に探せます</p>
  <div class="top_img_link_out"><%= link_to 'まずは演目から探してみる', { controller: :bits, action: :genreSearch, search_params: '演目', or: 'pv' }, class: 'top_img_link' %></div>
</div>
<div class="container">

<div id="y_index_links">
  <div class="y_index_video_lists col-xs-12 row-eq-height" style="padding:0;">
  <% view_num = 0 %>
  <% pic_view_num = 0 %>
    <%# 1 %>
    <div class="y_index_links_pickup_area col-xs-12 col-sm-6 row-eq-height">
      <% unless @pic_youtubes[pic_view_num].nil? %>
        <% if @pic_youtubes[pic_view_num][:pickup_level] == 1 %>
          <div class="y_index_links_pickup_tag_left">
            <p>PICK UP</p>
          </div>
          <%= render 'list_md4', youtube: @pic_youtubes[pic_view_num] %>
          <% pic_view_num = pic_view_num + 1 %>
        <% end %>
      <% end %>
    </div>

    <%# 2 3 %>
    <div class="col-xs-6 col-sm-3 row-eq-height" style="height: 100%;">
      <% unless @youtubes[view_num].nil? %>
        <%= render 'list_sm123', youtube: @youtubes[view_num] %>
        <% view_num = view_num + 1 %>
      <% end %>
      <% unless @youtubes[view_num].nil? %>
        <%= render 'list_sm123', youtube: @youtubes[view_num] %>
        <% view_num = view_num + 1 %>
      <% end %>
    </div>
    <%# 4 5 %>
    <div class="col-xs-6 col-sm-3 row-eq-height" style="height: 100%;">
      <% unless @youtubes[view_num].nil? %>
        <%= render 'list_sm123', youtube: @youtubes[view_num] %>
        <% view_num = view_num + 1 %>
      <% end %>
      <% unless @youtubes[view_num].nil? %>
        <%= render 'list_sm123', youtube: @youtubes[view_num] %>
        <% view_num = view_num + 1 %>
      <% end %>
    </div>

    <%# 6 %>
    <div class="col-xs-6 col-sm-3 row-eq-height" style="height: 100%;">
      <% unless @youtubes[view_num].nil? %>
        <%= render 'list_sm123', youtube: @youtubes[view_num] %>
        <% view_num = view_num + 1 %>
      <% end %>
    </div>
    <%# 7 %>
    <div class="col-xs-6 col-sm-3 row-eq-height" style="height: 100%;">
      <% unless @youtubes[view_num].nil? %>
        <%= render 'list_sm123', youtube: @youtubes[view_num] %>
        <% view_num = view_num + 1 %>
      <% end %>
    </div>
    <%# 8 %>
    <div class="col-xs-6 col-sm-3 row-eq-height" style="height: 100%;">
      <% unless @youtubes[view_num].nil? %>
        <%= render 'list_sm123', youtube: @youtubes[view_num] %>
        <% view_num = view_num + 1 %>
      <% end %>
    </div>
    <%# 9 %>
    <div class="col-xs-6 col-sm-3 row-eq-height" style="height: 100%;">
      <% unless @youtubes[view_num].nil? %>
        <%= render 'list_sm123', youtube: @youtubes[view_num] %>
        <% view_num = view_num + 1 %>
      <% end %>
    </div>
<%
=begin
%>
    <div class="hidden-xs col-sm-7 col-md-6 col-lg-5" style="margin:0 0 15px 0;">
      <%= link_to image_tag('mu_ad_img1.jpg', width: '100%'), 'http://mu-ballet.com', target: '_blank' %>
    </div>
    <div class="visible-xs col-xs-12" style="margin:0 0 15px 0;">
      <%= link_to image_tag('mu_ad_img2.jpg', width: '100%'), 'http://mu-ballet.com', target: '_blank' %>
    </div>

    <%# 広告エリア %>
    <div class="col-xs-12 hidden-sm hidden-md hidden-lg" style="text-align:center;padding-bottom:15px;overflow: visible;margin-left: -15px;">
      <!--  ad tags Size: 320x100 ZoneId:1141471-->
      <script type="text/javascript" src="https://js.medi-8.net/t/141/471/a1141471.js"></script>
    </div>
    <div class="hidden-xs col-sm-12 col-md-12 hidden-lg" style="text-align:center;padding-bottom:15px;">
      <!--  ad tags Size: 468x60 ZoneId:1142016-->
      <script type="text/javascript" src="https://js.medi-8.net/t/142/016/a1142016.js"></script>
    </div>
    <div class="visible-lg col-lg-12" style="text-align:center;padding-bottom:15px;">
      <!-- medi8　728×90px -->
      <script type="text/javascript" src="https://js.medi-8.net/t/141/478/a1141478.js"></script>
    </div>
<%
=end
%>

  </div>

  <div class="container col-xs-12" id="bit_index_boards_lists">
    <% @boards.each do |board| %>
      <%= link_to board_path(board) do %>
        <div class="bits_index_board col-sm-3">
          <div class="bits_index_board_child">
            <div class="bits_index_profile_picture">
              <%= render 'profile_picture', i: board %>
            </div>
            <%= board.created_at.strftime('%Y年%m月%d日 %H時%M分%S秒') %>
            <div class="bits_index_board_title">
              <%= board.title %>
            </div>
            <% board.board_tags.each do |tag| %>
              <div style="display: inline-block;margin-right:10px;">
                <%= "##{tag.name}" %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>