<h1>お問い合わせ</h1>

<%= form_tag({controller: '/bits', action: :send_support_mail,}) do %>
  <div class="field form-group col-sm-12">
    <%= label_tag :title, 'タイトル', class: 'control-label col-sm-2' %>
    <div class="col-sm-4">
      <%= text_field_tag :title, '', class: 'form-control' %>
    </div>
  </div>

  <div class="field form-group col-sm-12">
    <div class="col-sm-2">
      <%= label_tag :text, "メッセージ", class: 'control-label' %><br class="hidden-xs">
      <i>(800文字以内)</i>
    </div>
    <div class="col-sm-4">
      <%= text_area_tag :text, '', class: 'form-control', style: 'height:250px;', maxlength: "800" %>
    </div>
  </div>

  <div class="row">
    <div class="actions　form-group col-sm-12">
      <div class="col-sm-offset-2 col-sm-4">
        <%= submit_tag 'メッセージを送る', class: 'btn btn-primary right_button' %>
      </div>
    </div>
  </div>
<% end %>
