<%= render 'sidebar', tags: @tags %>

<div id="y_index_links">
  <div class="col-sm-9">

  <% unless @relation_tags.nil? %>
    <div id="y_video_search_result_tagarea">
      <% unless session[:category_params].blank? %>
        <h3><%= session[:category_params] %> > <%= session[:genre] %></h3>
      <% else %>
        <h3><%= session[:genre] %></h3>
      <% end %>
      <p>
        <% @relation_tags.each do |tag| %>
          <% unless session[:genre].blank? %>
            <% search = session[:genre] + " " + tag %>
          <% else %>
            <% search = tag %>
          <% end %>
          <% unless session[:genre].include?(tag) %>
            <%= link_to "##{tag}", { controller: :bits, action: :Search, search_params: search, category_params: session[:category_params], or: 'pv' } %>
          <% end %>
        <% end %>
      </p>
    </div>
  <% end %>

  <div id="order_change">
    <% if controller.action_name == 'view_histories' %>
      <%= link_to_unless_current '視聴日時', { controller: :bits,
        action: controller.action_name,
        or: 'history' } %>|
    <% end %>
    <% if /or=pv/ =~ request.fullpath %>
      再生回数順|<%= link_to '新着順', { controller: :bits,
        action: controller.action_name,
        search_params: session[:genre],
        category_params: session[:category_params],
        or: 'time' } %>
    <% elsif /or=time/ =~ request.fullpath %>
      <%= link_to '再生回数順', { controller: :bits,
        action: controller.action_name,
        search_params: session[:genre],
        category_params: session[:category_params],
        or: 'pv' } %>|新着順
    <% else %>
      <%= link_to '再生回数順', { controller: :bits,
        action: controller.action_name,
        search_params: session[:genre],
        category_params: session[:category_params],
        or: 'pv' } %>|
      <%= link_to '新着順', { controller: :bits,
        action: controller.action_name,
        search_params: session[:genre],
        category_params: session[:category_params],
        or: 'time' } %>
    <% end %>
  </div>
<%
=begin
%>
    <div class="col-sm-12">
      <% @youtubes.each do |youtube| %>
        <%= link_to  youtube_video_path(youtube) do %>
          <div class="y_video_body row">
            <div class="y_video_img_area col-sm-4" style="padding: 0;">
              <% url = youtube.url.gsub(/http.+v=/, "") %>
              <%# url = url.gsub(/&list.+./, "") %>
              <% url = url.gsub(/&.+./, "") %>
              <%= image_tag('http://i.ytimg.com/vi/' + url + '/mqdefault.jpg',
                width: '100%',
                class: 'bits_index_link_img') %>
            </div>
            <div class="y_vide_rightarea col-sm-8">
              <div class="y_video_body_titlearea">
                <h4 class="title"><%= youtube.title %></h4>
              </div>
              <div class="y_video_body_tagarea">
                <p>
                  <strong>タグ:</strong>
                  <% youtube.youtube_video_tags.each do |tag| %>
                    #<%= tag.name %>
                  <% end %>
                </p>
              </div>
              <div class="y_video_textarea">
                <p><%= truncate(youtube.text, length: 100)%></p>
              </div>
            </div>
          </div>
        <% end -%>
      <% end %>
    </div><%# y_index_link %>
<%
=end
%>
    <div class="col-sm-12 row-eq-height" style="padding: 0;">
      <% @youtubes.each do |youtube| %>
        <%= link_to  youtube_video_path(youtube), class: 'col-xs-12 col-sm-4 row-eq-height', style: 'margin-bottom:10px;' do %>
          <div class="y_video_img_area col-sm-12" style="padding: 0;">
            <% url = youtube.url.gsub(/http.+v=/, "") %>
            <% url = url.gsub(/&.+./, "") %>
            <%= image_tag('http://i.ytimg.com/vi/' + url + '/mqdefault.jpg',
              width: '100%',
              class: 'bits_index_link_img') %>
          </div>
          <div class="y_video_top_textarea col-sm-12" style="padding: 0;margin-top:0;">
            <div class="y_video_top_titlearea_sm">
              <h4 class="title"><%= youtube.title %></h4>
            </div>
            <div class="y_video_top_catchphrase_sm">
              <h5 class="catchphrase"><%= youtube.catchphrase %></h5>
            </div>
          </div>
        <% end -%>
      <% end %>
    </div><%# y_index_link %>

    <p class="pagenation_count"><%= page_entries_info @youtubes %></p>

    <div class="pagenation_bar">
      <%= paginate @youtubes %>
    </div>
  </div>
</div>