</div>
<% if controller.controller_name == 'bits' && controller.action_name == 'videotop' %>
  <style>
    body {
      padding-top: 50px
    }
    @media screen and (min-width:768px) {
      body {
        padding-top: 75px
      }
    }
  </style>
<% end %>
<%#<div class="top_img col-xs-12 hidden-sm hidden-md hidden-lg" style="margin-bottom:15px;">%>
<div class="top_img col-xs-12" style="margin-bottom:15px;padding:0;">
  <p class="top_img_text_a"><%= @top_img_text_a.contents if @top_img_text_a.present? %></p>
  <p class="top_img_text_b"><%= @top_img_text_b.contents if @top_img_text_b.present? %></p>
  <div class="top_img_link_out"><%= link_to 'まずは演目から探してみる', { controller: :bits, action: :genreSearch, search_params: '演目', or: 'pv' }, class: 'top_img_link' %></div>
</div>
<div class="container">
  <div class="col-xs-12 video-title">
    <table>
      <td>
        <span class="icon icon-main icon-pick_talk"></span>
      </td>
        <td><p class="video-text">ピックアップ動画</p>
        </td>
    </table>
  </div>
  <div id="y_index_links">
    <div class="y_index_video_lists col-xs-12 row-eq-height" style="padding:0;">

      <% @pic_youtubes.each do |youtube| %>
        <div class="y_index_links_pickup_area col-xs-12 col-sm-6 row-eq-height">
          <div class="y_index_links_pickup_tag_left">
            <p>PICK UP</p>
          </div>
          <%= render 'list_md4', youtube: youtube %>
        </div>
      <% end %>

      <%# 広告エリア %>
      <div class="col-xs-12 hidden-sm hidden-md hidden-lg" style="text-align:center;padding-bottom:15px;overflow: visible;margin-left: -15px;">
        <!--  ad tags Size: 320x100 ZoneId:1175802-->
        <script type="text/javascript" src="https://js.medi-8.net/t/175/802/a1175802.js"></script>
      </div>
      <div class="hidden-xs col-sm-12 col-md-12 hidden-lg" style="text-align:center;padding-bottom:15px;">
        <!--  ad tags Size: 468x60 ZoneId:1175755-->
        <script type="text/javascript" src="https://js.medi-8.net/t/175/755/a1175755.js"></script>
      </div>
      <div class="visible-lg col-lg-12" style="text-align:center;padding-bottom:15px;">
        <!--  ad tags Size: 728x90 ZoneId:1175727-->
        <script type="text/javascript" src="https://js.medi-8.net/t/175/727/a1175727.js"></script>
      </div>

      <div class="col-xs-12 video-title">
        <table>
          <td>
            <span class="icon icon-main icon-new_talk"></span>
          </td>
            <td><p class="video-text">新着動画</p>
            </td>
          </table>
        </div>

      <% @youtubes.each_with_index do |youtube, i| %>
        <div class="col-xs-12 col-sm-3 row-eq-height" style="height: 100%;">
          <%= render 'list_sm123', youtube: youtube %>
        </div>
        <!-- <% if i == 7 || i == 15 %> -->
          <%# 広告エリア %>
          <!-- <div class="col-xs-12 hidden-sm hidden-md hidden-lg" style="text-align:center;padding-bottom:15px;overflow: visible;margin-left: -15px;"> -->
            <!--  ad tags Size: 320x100 ZoneId:1141471-->
            <!-- <script type="text/javascript" src="https://js.medi-8.net/t/141/471/a1141471.js"></script>
          </div>
          <div class="hidden-xs col-sm-12 col-md-12 hidden-lg" style="text-align:center;padding-bottom:15px;"> -->
            <!--  ad tags Size: 468x60 ZoneId:1142016-->
            <!-- <script type="text/javascript" src="https://js.medi-8.net/t/142/016/a1142016.js"></script>
          </div>
          <div class="visible-lg col-lg-12" style="text-align:center;padding-bottom:15px;"> -->
            <!-- medi8　728×90px -->
            <!-- <script type="text/javascript" src="https://js.medi-8.net/t/141/478/a1141478.js"></script>
          </div>
        <% end %> -->
      <% end %>
    </div>
  </div>

  <div id="y_index_all_view_buttonarea_outside" class="col-xs-12">
    <div class="top_each_page_link">
      <%= link_to '→　もっと見る', { controller: :bits, action: :all, or: 'time' } %>
    </div>
  </div>

  <%# 広告エリア %>
  <div class="col-xs-12 hidden-sm hidden-md hidden-lg" style="text-align:center;padding-bottom:15px;overflow: visible;margin-left: -15px;">
    <!--  ad tags Size: 320x100 ZoneId:1175803-->
    <script type="text/javascript" src="https://js.medi-8.net/t/175/803/a1175803.js"></script>
  </div>
  <div class="hidden-xs col-sm-12 col-md-12 hidden-lg" style="text-align:center;padding-bottom:15px;">
    <!--  ad tags Size: 468x60 ZoneId:1175758-->
    <script type="text/javascript" src="https://js.medi-8.net/t/175/758/a1175758.js"></script>
  </div>
  <div class="visible-lg col-lg-12" style="text-align:center;padding-bottom:15px;">
    <!--  ad tags Size: 728x90 ZoneId:1175728-->
    <script type="text/javascript" src="https://js.medi-8.net/t/175/728/a1175728.js"></script>
  </div>
</div>
