<div id="nav_community_collapse_area" class="panel-collapse collapse">
  <div class="container panel-body">
    <div class="nav_community_collapse_frame_1">
      <div class="nav_community_collapse_frame_1_1">
        <div class="nav_community_collapse_area_tag_area">
          <div class="nav_community_collapse_area_tag">
            <strong>スレッド</strong>
          </div>
        </div>
        <div class="nav_community_collapse_area_child_area">
          <div class="nav_community_collapse_area_child">
            <%= link_to 'スレッドを立てる', new_board_path  %>
          </div>
          <div class="nav_community_collapse_area_child">
            <%= link_to '急上昇ランキング', new_board_path  %>
          </div>
          <div class="nav_community_collapse_area_child">
            <%= link_to '新着', boards_path  %>
          </div>
        </div>
      </div>

      <div class="nav_community_collapse_frame_1_2">
        <div class="nav_community_collapse_area_tag_area">
          <div class="nav_community_collapse_area_tag">
            <strong>管理</strong>
          </div>
        </div>
        <div class="nav_community_collapse_area_child_area">
          <div class="nav_community_collapse_area_child">
            <%= link_to '投稿したスレッド', my_post_boards_path  %>
          </div>
          <div class="nav_community_collapse_area_child">
            <%= link_to 'コメントしたスレッド', my_commented_boards_path  %>
          </div>
        </div>
      </div>
    </div>

    <div class="nav_community_collapse_frame_2">
      <div class="nav_community_collapse_area_tag_area">
        <div class="nav_community_collapse_area_tag">
          <strong>人気タグ</strong>
        </div>
      </div>
      <div class="nav_community_collapse_area_child_area">
        <div class="nav_community_collapse_area_child">
          <%= link_to 'スレッドを立てる', new_board_path  %>
        </div>
        <div class="nav_community_collapse_area_child">
          <%= link_to '急上昇ランキング', new_board_path  %>
        </div>
        <div class="nav_community_collapse_area_child">
          <%= link_to '新着', boards_path  %>
        </div>
      </div>
    </div>
  </div>
</div>