<div id="nav_community_collapse_area" class="panel-collapse collapse">
  <div class="container panel-body">
    <div class="form-group row" style="margin:0 0 15px 0;">
      <%= form_tag({controller: '/boards', action: :Search }, method: :get) do %>
        <div class="input-group form-group">
          <%= search_field_tag :search_params,
            @search_params,
            class: 'form-control',
            placeholder: 'キーワード' %>
          <span class="input-group-btn">
          <button type="submit" class="btn btn-default">
            <i class="glyphicon glyphicon-search"></i>
          </button>
          </span>
        </div>
      <% end %>
    </div>

    <div class="nav_community_collapse_frame_2">
      <div class="nav_community_collapse_area_tag_area">
        <div class="nav_community_collapse_area_tag">
          <strong>人気タグ</strong>
        </div>
      </div>
      <div class="nav_community_collapse_area_child_area">
        <% @board_tags.each do |b_tag| %>
          <div class="nav_community_collapse_area_child">
            <%#= b_tag[0] %>
            <%= link_to "##{b_tag[0]}", { :controller => '/boards', action: :Search, search_params: b_tag[0] } %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="nav_community_collapse_frame_1">
      <div class="nav_community_collapse_frame_1_1">
        <div class="nav_community_collapse_area_tag_area">
          <div class="nav_community_collapse_area_tag">
            <strong><%= link_to 'トーク', boards_path  %></strong>
          </div>
        </div>
        <div class="nav_community_collapse_area_child_area">
          <div class="nav_community_collapse_area_child">
            <%= link_to '新着', lists_boards_path  %>
          </div>
          <div class="nav_community_collapse_area_child">
            <%= link_to '注目トーク', attention_boards_path  %>
          </div>
          <div class="nav_community_collapse_area_child">
            <%= link_to 'トークルームを立てる', new_board_path  %>
          </div>
        </div>
      </div>

      <div class="nav_community_collapse_frame_1_2">
        <div class="nav_community_collapse_area_tag_area">
          <div class="nav_community_collapse_area_tag">
            <strong>管理</strong>
          </div>
        </div>
        <div class="nav_community_collapse_area_child_area">
          <div class="nav_community_collapse_area_child">
            <%= link_to 'マイトークルーム', my_post_boards_path  %>
          </div>
          <div class="nav_community_collapse_area_child">
            <%= link_to 'コメントしたトーク', my_commented_boards_path  %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>