<div id="nav_video_collapse_area" class="panel-collapse collapse">
  <div class="container panel-body">
    <div class="form-group row" style="margin:0 0 15px 0;">
      <%= form_tag({controller: '/bits', action: :Search }, method: :get) do %>
        <div class="input-group form-group" style="max-width:400px;">
          <%= search_field_tag :search_params,
            @search_params,
            class: 'form-control',
            placeholder: 'キーワード' %>
          <span class="input-group-btn">
          <button type="submit" class="btn btn-default">
            <i class="glyphicon glyphicon-search"></i>
          </button>
          </span>
        </div>
      <% end %>
    </div>

    <div class="nav_video_collapse_frame_1 col-sm-12">
      <div class="movie-sm-4 col-sm-4">
        <div class="nav_video_collapse_area_tag_area">
          <div class="nav_video_collapse_area_tag">
           <strong><%= link_to '動画', videotop_bits_path %></strong>
          </div>
        </div>
        <div class="nav_video_collapse_area_child_area">
         <div class="nav_video_collapse_area_child" style="display:block;">
           <%= link_to '演目', { :controller => '/bits', action: :genreSearch, search_params: '演目', or: 'pv' } %>
         </div>
         <div class="nav_video_collapse_area_child" style="display:block;">
           <%= link_to 'レッスン', { :controller => '/bits', action: :genreSearch, search_params: 'レッスン', or: 'pv' } %>
         </div>
         <div class="nav_video_collapse_area_child" style="display:block;">
           <%= link_to 'その他', { :controller => '/bits', action: :genreSearch, search_params: "その他", or: 'pv' } %>
         </div>
        </div>
      </div>
      <div class="movie-sm-4 col-sm-4">
        <div class="nav_video_collapse_area_tag_area">
          <div class="nav_video_collapse_area_tag">
            <strong><%= link_to '注目キーワード', { :controller => '/bits', action: :attentionSearch, search_params: '注目キーワード', or: 'pv' } %></strong>
          </div>
        </div>
        <div class="nav_video_collapse_area_child_area">
          <% tags.each do |tag| %>
            <% if tag.genre == '注目キーワード' %>
              <div class="nav_video_collapse_area_child" style="display:block;">
                <%= link_to "#{tag.tag_name}", { :controller => '/bits', action: :Search, search_params: tag.tag_name, category_params: '注目キーワード', or: 'pv' } %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="movie-sm-4 col-sm-4">
        <div class="nav_video_collapse_area_tag_area">
          <div class="nav_video_collapse_area_tag">
            <strong>管理</strong>
          </div>
        </div>
        <div class="nav_video_collapse_area_child_area">
          <div class="nav_video_collapse_area_child" style="display:block;">
            <%= link_to '視聴履歴', { :controller => '/bits', action: :view_histories, or: 'history' } %>
          </div>
          <div class="nav_video_collapse_area_child" style="display:block;">
            <%= link_to 'お気に入り動画', { :controller => '/bits', action: :like_videos, or: 'history' } %>
          </div>
        </div>
      </div>
    </div>

    <div class="nav_video_collapse_frame_2 col-sm-12">
      <div class="nav_video_collapse_area_tag">
        <div class="nav_video_collapse_area_tag_area_repertoire">
          <strong><%= link_to '演目', { :controller => '/bits', action: :genreSearch, search_params: '演目', or: 'pv' } %></strong>
        </div>
      </div>
      <div class="nav_video_collapse_area_child_area">
        <% tags.each do |tag| %>
          <% if tag.genre == '演目' %>
            <div class="nav_video_collapse_area_child">
              <%= link_to "#{tag.tag_name}", { :controller => '/bits', action: :Search, search_params: tag.tag_name, category_params: tag.genre, or: 'pv' } %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <a id="nav_video_collapse_close_button" data-toggle="collapse" data-parent="#accordion" data-target="#nav_video_collapse_area"><span class="icon icon-main icon-closed_nav_button"></span></a></a>

  </div>
</div>
