<li class="dropdown visible-xs">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">コミュニティ<span class="caret"></span></a>
  <ul class="dropdown-menu multi-level" role="menu">
    <li>
      <div class="form-group row" style="margin:0 15px;">
        <%= form_tag({controller: '/boards', action: :Search }, method: :get) do %>
          <div class="input-group form-group">
            <%= search_field_tag :search_params,
              @search_params,
              class: 'form-control',
              placeholder: 'キーワード' %>
            <span class="input-group-btn">
            <button type="submit" class="btn btn-default">
              <i class="glyphicon glyphicon-search"></i>
            </button>
            </span>
          </div>
        <% end %>
      </div>
    </li>
    <li class="dropdown-submenu visible-xs">
      <a href="#" class="nav_submenu dropdown-toggle" data-toggle="dropdown" role="button">人気タグ<span class="caret"></span></a>
      <ul class="nav_submenu_contents dropdown-menu" role="menu">
          <% @board_tags.each do |b_tag| %>
            <li>
              <% tagname = truncate(b_tag[0], length: 10) %>
              <%= link_to "##{tagname}", { :controller => '/boards', action: :Search, search_params: b_tag[0] } %>
            </li>
          <% end %>
      </ul>
    </li>
    <li><%= link_to '新着', lists_boards_path %></li>
    <li><%= link_to '注目トーク', attention_boards_path  %></li>
    <li><%= link_to 'トークルームを立てる', new_board_path  %></li>
    <% if user_signed_in? %>
      <li class="visible-xs"><%= link_to 'マイトークルーム', my_post_boards_path %></li>
      <li class="visible-xs"><%= link_to 'コメントしたトーク', my_commented_boards_path %></li>
    <% end %>
  </ul>
</li>