<!DOCTYPE html>
<html>
  <head>
    <title>BalletVideos</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>  
    <div id="header">
      <div class="row">
        <div id="login_status" class="col-xs-12 col-sm-4 col-sm-push-8">
          <% if user_signed_in? %>
            <strong><%#= current_user.username %></strong>
            <%= link_to(edit_user_registration_path) do %>
              <button class="btn btn-primary"><i class="glyphicon glyphicon glyphicon glyphicon-edit"></i> プロフィール変更</button>
            <% end %>
            <%= link_to(destroy_user_session_path, method: :delete) do %>
              <button class="btn btn-primary"><i class="glyphicon glyphicon glyphicon-log-out"></i> ログアウト</button>
            <% end %>
          <% else %>
            <%= link_to(new_user_registration_path) do %>
              <button class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> 新規会員登録</button>
            <% end %>
            <%= link_to(new_user_session_path) do %>
              <button class="btn btn-primary"><i class="glyphicon glyphicon glyphicon-log-in"></i> ログイン</button>
            <% end %>
          <% end %>
        </div>

        <div class="col-xs-12 col-sm-2 col-sm-pull-4">
          <div id="site_logo">
            <%= link_to image_tag('site_logo.jpg'), bits_path %>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-sm-pull-4">
          <div class="form-group row">
            <%= form_tag({controller: '/bits', action: :Search, id: @Search}, method: :get) do %>
              <div class="form-group">
                <div class="col-sm-5">
                  <%= search_field_tag :search_title, session[:search_title_params], class: 'form-control', placeholder: 'タイトル' %>
                </div>
                <div class="col-sm-5">
                  <%= search_field_tag :search_tag, session[:search_tag_params], class: 'form-control', placeholder: 'タグ' %>
                </div>
                <button type="submit" class="btn btn-primary col-sm-2">
                  <i class="glyphicon glyphicon-search"></i> 検索
                </button>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <%= yield %>
    </div>

    <div id="footer">

    </div>
  </body>
</html>