<!DOCTYPE html>
<html>
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    <title><%= @youtube ? @youtube.title : 'バレエ情報配信サービスBit（ビット）' %></title>
    <%= csrf_meta_tags %>

    <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Bit（ビット）は、クラシックバレエをメインとした情報配信サービスです。良質なバレエ動画の中からお気に入りの動画を探したり、動画にコメントを付けて楽しむサービスです。" />
    <meta name="keywords" content=“バレエ,クラシック,情報,動画,検索,まとめ,” />
    <% if controller.controller_name == 'youtube_videos' && controller.action_name == 'show' %>
      <meta property="og:title" content="<%= @youtube.title %>" />
      <meta property="og:type" content="article" />
      <meta property="og:description" content="<%= @youtube.text %>" />
      <meta property="og:url" content="<%= request.url %>" />
      <% url = @youtube.url.gsub(/http.+v=/, "") %>
      <% url = url.gsub(/&.+./, "") %>
      <meta property="og:image" content="<%= 'http://i.ytimg.com/vi/' + url + '/hqdefault.jpg' %>" />
    <% else %>
      <meta property="og:title" content="<バレエ情報配信サービスBit（ビット）" />
      <meta property="og:type" content="website" />
      <meta property="og:description" content="Bit（ビット）は、クラシックバレエをメインとした情報配信サービスです。良質なバレエ動画の中からお気に入りの動画を探したり、動画にコメントを付けて楽しむサービスです。" />
      <meta property="og:url" content="<%= request.url %>" />
      <meta property="og:image" content='<%= ENV['SITE_URL'] %><%= image_path('xs_top_img.jpg') %>' />
    <% end %>
    <%= favicon_link_tag 'favicon.ico' %>

    <% if /bit-ballet.com/ =~ request.url  %>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-75586776-2', 'auto');
        ga('send', 'pageview');
      </script>
    <% end %>
  </head>

  <body>
    <div style="overflow:hidden;min-height:100%;">
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target=".target">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <%= link_to image_tag('bit_logo.png', id: 'site_logo', class: 'hidden-xs hidden-sm', height: 50), bits_path %>
            <%= link_to image_tag('bit_logo_phone.png', id: 'site_logo_s', class: 'hidden-md hidden-lg', height: 30), bits_path %>
          </div>
          <div class="collapse navbar-collapse target">
          <% if user_signed_in? %>
            <% if current_user.user_level > 1 %>
              <ul class="nav navbar-nav">
                <li><%= link_to 'youtube登録', new_youtube_video_path %></li>
                <li><%= link_to '表示タグ編集', top_tag_lists_path %></li>
              </ul>
            <% end %>
          <% end %>

          <ul class="nav navbar-nav">
            <li>
              <a data-toggle="collapse" data-parent="#accordion" data-target="#nav_video_collapse_area">動画</a>
            </li>
            <li>
              <a data-toggle="collapse" data-parent="#accordion" data-target="#nav_community_collapse_area">コミュニティ</a>
            </li>
            <% if user_signed_in? %>
              <li class="visible-xs">
                <%= link_to :controller => '/bits', action: :like_videos, or: 'time' do %>
                  <i class="glyphicon glyphicon-thumbs-up"></i>グッドした動画
                <% end %>
              </li>
              <li class="visible-xs">
                <%= link_to '視聴履歴', {:controller => '/bits', action: :view_histories, or: 'history'} %>
              </li>
            <% end %>
            <li class="dropdown visible-xs">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">注目キーワード<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to '全ての注目動画', { :controller => '/bits', action: :attentionSearch, search_params: '注目キーワード', or: 'pv' } %></li>
                <% @tags.each do |tag| %>
                  <% if tag.genre == '注目キーワード' %>
                    <li><%= link_to "#{tag.tag_name}", { :controller => '/bits', action: :Search, search_params: tag.tag_name, category_params: '注目キーワード', or: 'pv' } %></li>
                  <% end %>
                <% end %>
              </ul>
            </li>
            <li class="visible-xs">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">演目<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu" style="height: 400px; overflow-y: scroll;">
                <li><%= link_to '全ての演目', { :controller => '/bits', action: :genreSearch, search_params: '演目', or: 'pv' } %></li>
                <% @tags.each do |tag| %>
                  <% if tag.genre == '演目' %>
                    <li><%= link_to "#{tag.tag_name}", { :controller => '/bits', action: :Search, search_params: tag.tag_name, category_params: tag.genre, or: 'pv' } %></li>
                  <% end %>
                <% end %>
              </ul>
            </li>
            <li class="visible-xs">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">レッスン<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to '全てのレッスン', { :controller => '/bits', action: :genreSearch, search_params: 'レッスン', or: 'pv' } %></li>
                <% @tags.each do |tag| %>
                  <% if tag.genre == 'レッスン' %>
                    <li><%= link_to "#{tag.tag_name}", { :controller => '/bits', action: :Search, search_params: tag.tag_name, category_params: tag.genre, or: 'pv' } %></li>
                  <% end %>
                <% end %>
              </ul>
            </li>
            <li class="visible-xs">
              <%= link_to 'その他', { :controller => '/bits', action: :genreSearch, search_params: "その他", or: 'pv' } %>
            </li>
          </ul>


            <ul class="nav navbar-nav navbar-right">
              <li class="nav-divider"></li>
              <% if user_signed_in? %>
                <li>
                    <%= link_to ' プロフィール変更', edit_user_registration_path %>
                </li>
                <li>
                    <%= link_to ' ログアウト', destroy_user_session_path, method: :delete %>
                </li>
              <% else %>
                <li>
                    <%= link_to 'ユーザー登録', new_user_registration_path %>
                </li>
                <li>
                    <%= link_to 'ログイン', new_user_session_path %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>

        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <%= render '/layouts/nav_video', tags: @tags %>
          </div>
          <div class="panel panel-default">
            <%= render '/layouts/nav_community', tags: @tags %>
          </div>
        </div>

      </nav>

      <div id="contants" class="container">
        <%= yield %>
      </div>

    </div>

    <div id="footer">
    <div class="container" style="text-align:center;">
      <div id="top_footer_contents">
        <div id="top_footer_left_area">
          <%= link_to '動画を探す', { :controller => "/bits", action: :index, anchor: 'search_area'}, class: 'top_footer_title hidden-xs' %>
          <%= link_to '動画を探す', { :controller => "/bits", action: :index, anchor: 'results_search_area'}, class: 'top_footer_title hidden-sm hidden-md hidden-lg' %>
          <div id="top_footer_search_link_area">
            <%= link_to '演目から探す', { :controller => "/bits", action: :genreSearch, search_params: '演目', or: 'pv' } %><br>
            <%= link_to 'レッスンから探す', { :controller => "/bits", action: :genreSearch, search_params: 'レッスン', or: 'pv' } %><br>
            <%= link_to 'その他から探す', { :controller => "/bits", action: :genreSearch, search_params: "その他", or: 'pv' } %><br>
          </div>
        </div>
        <div id="top_footer_center_area">
          <% if user_signed_in? %>
            <%= link_to ' プロフィール変更', edit_user_registration_path, class: 'top_footer_title' %><br>
            <%= link_to ' ログアウト', destroy_user_session_path, method: :delete, class: 'top_footer_title' %><br>
          <% else %>
            <%= link_to 'ユーザー登録', new_user_registration_path, class: 'top_footer_title' %><br>
            <%= link_to 'ログイン', new_user_session_path, class: 'top_footer_title' %><br>
          <% end %>
          <%= link_to 'お問い合わせ', inquiry_bits_path, class: 'top_footer_title' %><br>
        </div>
        <div id="top_footer_right_area">
          <%= link_to 'プライバシーポリシー', privacy_policy_bits_path, class: 'top_footer_title' %><br>
          <%= link_to '運営情報', operation_information_bits_path, class: 'top_footer_title' %>
        </div>
      </div>
      <div id="footer_text">
        <div class="sm_footer hidden-xs col-sm-12">
          <p>Copyright &copy; 2016-2017 Ballet Internet Technology All Rights Reserved.</p>
        </div>
        <div class="xs_footer col-xs-12 hidden-sm hidden-md hidden-lg">
          <p>Copyright &copy; 2016-2017<br> Ballet Internet Technology All Rights Reserved.</p>
        </div>
      </div>
    </div>
    </div>
  </body>
</html>
