<!DOCTYPE html>
<html>
  <head>
    <title>BalletVideos</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>

    <div id="header">
      <div class="row">

        <div class="col-xs-12 col-sm-2">
          <div id="site_logo">
            <%= link_to image_tag('site_logo.jpg'), bits_path %>
          </div>
        </div>

        <div class="col-sm-6">
            <%= link_to 'ビデオ', bits_path %>
            <%= link_to 'コミュニティ', bits_path %>
        </div>

        <div id="login_status">
          <% if user_signed_in? %>
            <strong class="hidden-sm hidden-md hidden-lg col-xs-12"><%= current_user.username %></strong>
            <strong class="hidden-xs"><%= current_user.username %></strong>
            <%= link_to(edit_user_registration_path) do %>
              <button class="btn btn-primary">
                <i class="glyphicon glyphicon glyphicon glyphicon-edit"></i> プロフィール変更
              </button>
            <% end %>
            <%= link_to(destroy_user_session_path, method: :delete) do %>
              <button class="btn btn-primary">
                <i class="glyphicon glyphicon glyphicon-log-out"></i> ログアウト
              </button>
            <% end %>
          <% else %>
            <%= link_to(new_user_registration_path) do %>
              <button class="btn btn-primary">
                <i class="glyphicon glyphicon-plus"></i> 新規会員登録
              </button>
            <% end %>
            <%= link_to(new_user_session_path) do %>
              <button class="btn btn-primary">
                <i class="glyphicon glyphicon glyphicon-log-in"></i> ログイン
              </button>
            <% end %>
          <% end %>
        </div>

      </div>
    </div>

    <div id="contants" class="container">
      <%= yield %>
    </div>

    <div id="push">
    </div>

    <div id="footer">
    </div>
  </body>
</html>