<%# エンターキーでサブミットしないようにするスクリプト %>
<script>
  $(function() {
    $(document).on("keypress", "input:not(.allow_submit)", function(event) {
      return event.which !== 13;
    });
  });
</script>

<%= form_for(tag, html: { class: 'form-horizontal' }) do |f| %>
  <% if tag.errors.any? %>
    <%= tag.errors.count %>個のエラーがあります<br>
    <% tag.errors.full_messages.each do |msg| %>
      <%= msg %><br>
    <% end -%>
  <% end -%>

  <div class="field form-group">
    <%= f.label :genre, 'ジャンル', class: 'control-label col-sm-2' %>
    <div class="col-sm-4">
      <%= f.select :genre, ['注目キーワード', '演目', 'レッスン', 'その他'], {include_blank: '選択してください' }, class: 'form-control' %>
    </div>
  </div>

  <div class="field form-group">
    <%= f.label :tag_name, 'タグ', class: 'control-label col-sm-2' %>
    <div class="col-sm-4">
      <%= f.text_field :tag_name, class: 'form-control' %>
    </div>
  </div>

  <div class="field form-group">
    <%= f.label :hurigana, 'ふりがな', class: 'control-label col-sm-2' %>
    <div class="col-sm-4">
      <%= f.text_field :hurigana, class: 'form-control' %>
    </div>
  </div>

  <div class="row">
    <div class="actions　form-group">
      <div class="col-sm-offset-2 col-sm-4">
        <%= f.submit '保存', class: 'btn btn-primary right_button' %>
      </div>
    </div>
  </div>
<% end %>