<h2>タグ一覧</h2>

<%= link_to '新規タグ登録', new_top_tag_list_path %>

<div class="genre">
  <strong>注目キーワード</strong>
</div>
<% @tags.each do |tag| %>
  <% if tag.genre == '注目キーワード' %>
    <div style="margin: 15px;">
      <strong><%= tag.hurigana %>-</strong>: <%= tag.tag_name %>
      <%= link_to '編集する', edit_top_tag_list_path(tag) %>
      <%= link_to '削除する', top_tag_list_path(tag), method: :delete, data: { confirm: "削除してよろしいですか？" } %>
    </div>
  <% end %>
<% end %>

<div class="genre">
  <strong>演目</strong>
</div>
<% @tags.each do |tag| %>
  <% if tag.genre == '演目' %>
    <div style="margin: 15px;">
      <strong><%= tag.hurigana %>-</strong>: <%= tag.tag_name %>
      <%= link_to '編集する', edit_top_tag_list_path(tag) %>
      <%= link_to '削除する', top_tag_list_path(tag), method: :delete, data: { confirm: "削除してよろしいですか？" } %>
    </div>
  <% end %>
<% end %>

<div class="genre">
  <strong>レッスン</strong>
</div>
<% @tags.each do |tag| %>
  <% if tag.genre == 'レッスン' %>
    <div style="margin: 15px;">
      <strong><%= tag.hurigana %>-</strong>: <%= tag.tag_name %>
      <%= link_to '編集する', edit_top_tag_list_path(tag) %>
      <%= link_to '削除する', top_tag_list_path(tag), method: :delete, data: { confirm: "削除してよろしいですか？" } %>
    </div>
  <% end %>
<% end %>