<% if @resource.unconfirmed_email %>
  ----------------------------------------------------------------------<br>
  このメールは自動的に送信されています。返信はできません。<br>
  ----------------------------------------------------------------------<br>
  ━━━━━━━━━━━━━━━━━━━━<br>
  　◆「ビット」メールアドレス変更のご連絡◆<br>
  ━━━━━━━━━━━━━━━━━━━━<br>
  <%= @resource.username %>様<br><br>
  平素より「ビット」をご利用いただき、ありがとうございます。<br>
  ご登録されているメールアドレスの情報が更新されました。<br>
  <br>
  新しいメールアドレス: <%= @email %><br>
  <br>
  「ビット」ではメールアドレスを用いた認証をお願いしております。<br>
  お手数ですが以下の「変更を承認」ボタンをクリックし、変更手続きを完了してください。<br>
  <br>
  <p><%= link_to '変更を承認', confirmation_url(@resource, confirmation_token: @token) %></p>
  <br>
  このメールに心当たりが無い場合は、無視してください。<br>
  その他、お困りごとやご質問がございましたら、お気軽にお問い合わせください。<br>
  ----------------------------------------------------------------------<br>
  ━━━━━━━━━━━━━━<br>
  　◆お問い合わせ◆<br>
  ━━━━━━━━━━━━━━<br>
  踊り出す可能性「ビット」<br>
  株式会社GORIGORI　ビット運営事務局<br>
  URL：http://bit-ballet.com<br>
  お問い合わせ先：support@bit-ballet.com<br>
  ----------------------------------------------------------------------<br>
<% else %>
  ----------------------------------------------------------------------<br>
  このメールは自動的に送信されています。返信はできません。<br>
  ----------------------------------------------------------------------<br>
  ━━━━━━━━━━━━━━━━━━━━<br>
  　◆「ビット」無料会員登録のご案内◆<br>
  ━━━━━━━━━━━━━━━━━━━━<br>
  <%= @resource.username %>様<br><br>
  ビット運営事務局です。<br>
  このたびは「ビット」無料会員へご登録いただきありがとうございます。<br>
  「ビット」では本登録時にメールアドレスの認証をお願いしております。<br>
  お手数ですが下記ユーザー登録完了をクリックして登録を完了してください。<br>
  <br>
  <p><%= link_to 'ユーザー登録完了', confirmation_url(@resource, confirmation_token: @token) %></p>
  <br>
  このメールに心当たりが無い場合は、無視してください。<br>
  その他、お困りごとやご質問がございましたら、お気軽にお問い合わせください。<br>
  ----------------------------------------------------------------------<br>
  ━━━━━━━━━━━━━━<br>
  　◆お問い合わせ◆<br>
  ━━━━━━━━━━━━━━<br>
  踊り出す可能性「ビット」<br>
  株式会社GORIGORI　ビット運営事務局<br>
  URL：http://bit-ballet.com<br>
  お問い合わせ先：support@bit-ballet.com<br>
  ----------------------------------------------------------------------<br>
<% end %>